extends ../../layouts/layout.pug
block content

  .section--primary(tabindex=0)#content
    .container
      h1 Themes

  section
    .container
      .block
        h2 Background colours
        h3 .theme--grey-4
        .block.theme--grey-4
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--primary')

        .status--highlight.theme--grey-4
          h4 Status Highlight

        h3 .theme--grey-5 (base background)
        .block.theme--grey-5
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--primary')

        .status--highlight.theme--grey-5
          h4 Status Highlight

        h3 .theme--deep-purple
        .block.theme--deep-purple
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--white')

        .status--highlight.theme--deep-purple
          h4 Status Highlight

        h3 .theme--deep-purple--light
        .block.theme--deep-purple--light
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--white')

        .status--highlight.theme--deep-purple--light
          h4 Status Highlight

        h3 .theme--white
        .block.theme--white
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--primary')

        .status--highlight.theme--white
          h4 Status Highlight

        h3 .theme--mint
        .block.theme--mint
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--deep-purple')

        .status--highlight.theme--mint
          h4 Status Highlight

        h3 .theme--mint--light
        .block.theme--mint--light
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--deep-purple')

        .status--highlight.theme--mint--light
          h4 Status Highlight

        h3 .theme--purple
        .block.theme--purple
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--white')

        .status--highlight.theme--purple
          h4 Status Highlight

        h3 .theme--purple--light
        .block.theme--purple--light
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--deep-purple')

        .status--highlight.theme--purple--light
          h4 Status Highlight

  section
    .container
      .block
        h2 Status Colours
        h3 .theme--caution
        .block.theme--caution
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--deep-purple')

        .status--highlight.theme--caution
          h4 Status Highlight

        h3 .theme--success
        .block.theme--success
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--deep-purple')

        .status--highlight.theme--success
          h4 Status Highlight

        h3 .theme--warning
        .block.theme--warning
          h1 Heading
          p Body text
          p #[+link('#', "link")]
          +buttonLink('#', 'Button', 'btn--deep-purple')

        .status--highlight.theme--warning
          h4 Status Highlight
