extends ../../layouts/layout.pug
block content
  -var thingPage = true

  +section--primary
    h1 Forms and buttons
    h2 Search
    form(action='search')
      .form-group
        +input('Enter a keyword', 'input1', 'search_box', 'search', 1000, '^(?!.*<script|<Script).*$', 'Inserting <script> as a search term is not permitted')
        |
        button(type='submit', value='Search', class='btn--secondary') Search


  +section--secondary
    h2 Find your MP and constituency

    //-form(action='postcode')
    .form-group
      +input('Enter your full postcode, for example SW1A 0AA.', 'input', 'postcode_main', 'text', 8, '[0-9a-zA-Z ]{5,}', '- Special characters (!@£$%) are not permitted')
      |
      button#btn_loading(type='submit', value='Search', class='btn--secondary')
        span.btn--loading__text Find
        span.btn--loading__icon
          object(data='../../icons/loading.svg', type='image/svg+xml' aria-hidden='true' aria-labelledby='loading')

    p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].

  +section--other
    h2 Check if this is your constituency

    form(action='postcode')
      .form-group
        +input('Enter your full postcode, for example SW1A 0AA.', 'input2', 'postcode_partial', 'text', 8, '[0-9a-zA-Z ]{5,}', '- Special characters (!@£$%) are not permitted')
        |
        button(type='submit', value='Search', class='btn--secondary') Check

    p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].
