extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary#content
    .container
      h1 Buttons and form groups

  section
    .container
      h2 Submit buttons
      .block
        h3 Single
        +buttonSubmit('Check', 'btn--primary')

        h3 Group
        .btn--group
          +buttonSubmit('Check', 'btn--primary')
          +buttonSubmit('Check', 'btn--secondary')
          +buttonSubmit('Check', 'btn--alternative')
          +button('Disabled', 'btn')

      h2 Download buttons
      .block
        h3 Single
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--primary')

        h3 Group
        .btn--group
          +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--primary')
          +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--secondary')
          +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--alternative')
          +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn')

      h2 Form groups
      .block
        h3 Search
        form(action='search')
          .form-group
            +input('Enter a keyword', 'input', 'search_box', 'search', 1000, '^(?!.*<script|<Script).*$', '')
            +buttonSubmit('Search', 'btn--primary')

        h3 Find your MP and constituency
        form(action='postcode')
          .form-group
            +input('Enter your full postcode, for example SW1A 0AA.', 'input', 'postcode_main', 'text', 8, '[0-9a-zA-Z ]{5,}', '')
            +buttonSubmit('Find', 'btn--secondary')

      p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].
