extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1 Buttons and form groups

  section
    .container
      h2 Buttons
      .block.theme--mint--light
        //- buttonLink [link, value, style, datatype=optional]
        h3 Small
        +buttonLink('#', 'Primary', 'btn--primary btn--small')
        +buttonLink('#', 'Secondary', 'btn--secondary btn--small')
        +buttonLink('#', 'Deep Purple', 'btn--deep-purple btn--small')

        h3 Default
        +buttonLink('#', 'Primary', 'btn--primary')
        +buttonLink('#', 'Secondary', 'btn--secondary')
        +buttonLink('#', 'Deep Purple', 'btn--deep-purple')

        h3 Icons
        +buttonLink('#', 'Download Word document','btn--primary btn--icon', 'download')(download)
          include ../../icons/download.svg

        +buttonLink('#', 'Download PDF document', 'btn--deep-purple btn--icon', 'download')(download)
          include ../../icons/download.svg

        h3 Inverse
        +buttonLink('#', 'Primary', 'btn--primary--inverse')
        +buttonLink('#', 'Secondary', 'btn--secondary--inverse')
        +buttonLink('#', 'Deep Purple', 'btn--deep-purple--inverse')
        +buttonLink('#', 'White', 'btn--white')

        h3 Transparent
        +buttonLink('#', 'Transparent', 'btn--transparent')
        +buttonLink('#', 'Transparent Inverse', 'btn--transparent--inverse')

        h3 Alternative
        +buttonLink('#', 'Grey', 'btn--grey')
        +buttonLink('#', 'Disabled', 'btn--disabled')(tabIndex=-1)

      h2 Download buttons
      .block
        //- buttonLink [link, value, style, datatype=optional]
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--primary', 'download')(download)
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--secondary', 'download')(download)
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--disabled')(download, tabIndex=-1)

      h2 Form groups
      .block
        h3 Search
        +form('javascript:console.log("search submitted")', 'post')
          .input-group
            +input('search', 'Enter a keyword', 'q', 'search_box')(maxlength='1000', pattern='^(?!.*<script|<Script).*$', required)
            button(type='submit', class='btn--white', data-tracking='search')
              include ../../icons/search.svg

        h3 Find your MP and constituency
        +form('javascript:console.log("postcode submitted")', 'post')
          .input-group
            +input('text', 'Enter your full postcode, for example SW1A 0AA.', 'postcode', 'postcodeSearch')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}')
            //- button [value, style, type, datatype]
            +button('Find', 'btn--primary', 'submit', 'search')

      p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].
