extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1
        span Buttons and form groups

  section
    .container
      h2 Buttons
      .block.theme--mint--light
        //- buttonLink [link, value, style, datatype=optional]
        h3 Small
        +button('Primary', 'btn--primary btn--small')
        +button('Secondary', 'btn--secondary btn--small')
        +button('Deep Purple', 'btn--deep-purple btn--small')

        h3 Default
        +button('Primary', 'btn--primary')
        +button('Secondary', 'btn--secondary')
        +button('Deep Purple', 'btn--deep-purple')

        h3 Icons
        +button--link('#', 'Download Word document','btn--primary')
          include ../../icons/download.svg

        +button--link('#', 'Download PDF document', 'btn--deep-purple')
          include ../../icons/download.svg

        h3 Inverse
        +button('Primary', 'btn--primary--inverse')
        +button('Secondary', 'btn--secondary--inverse')
        +button('Deep Purple', 'btn--deep-purple--inverse')
        +button('White', 'btn--white')

        h3 Ghost
        .block.theme--deep-purple
          +button('Ghost', 'btn--ghost')
          +button('Ghost secondary', 'btn--ghost--secondary')

        +button('Ghost primary', 'btn--ghost--primary')
        +button('Ghost deep-purple', 'btn--ghost--deep-purple')
        +button('Ghost inverse', 'btn--ghost--inverse')

        h3 Toggle
        +button('Primary', 'btn--primary btn--toggle')
        +button('Secondary', 'btn--secondary btn--toggle')
        +button('Deep purple', 'btn--deep-purple btn--toggle')
        +button('Ghost', 'btn--ghost--inverse btn--toggle')
        noscript
          p These buttons are no showing because you have JavaScript disabled.

        h3 Alternative
        +button('Grey', 'btn--grey')
        +button('Disabled', 'btn--disabled')(tabIndex=-1)
        +button('Mint', 'btn--mint')

      h2 Download buttons
      .block
        //- buttonLink [link, value, style, datatype=optional]
        +button--link('#', 'Download (1500 x 2000 jpeg)', 'btn--primary')
        +button--link('#', 'Download (1500 x 2000 jpeg)', 'btn--secondary')
        +button--link('#', 'Disabled download (1500 x 2000 jpeg)', 'btn--disabled')(tabIndex=-1)

      h2 Form groups
      .block
        h3 Search
        +form('javascript:console.log("search submitted")', 'post')
          .input-group
            //- type, name, id, regex pattern, max length, label, label class + additional attributes
            +input--validate('search', 'q', 'globalSearch', '^(?!.*<script|<Script).*$', '1000', 'Enter a keyword')
            button(type='submit', class='btn--white')(aria-label='submit search')
              include ../../icons/search.svg

        h3 Find your MP and constituency
        +form('javascript:console.log("postcode submitted")', 'post')
          .input-group
            //- type, name, id, regex pattern, max length, label, label class + additional attributes
            +input--validate('text', 'postcode', 'postcodeSearch', '[0-9a-zA-Z ]{5,}', '8', 'Enter your full postcode, for example SW1A 0AA.')
            //- value, class, type, datatype
            button(type='submit', class='btn--primary')= 'Find'

      p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].
