extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary#content
    .container
      h1 Buttons and form groups

  section
    .container
      h2 Submit buttons
      .block
        //- value, style, type
        //- mixin accepts attributes
        +buttonLink('#', 'Primary', 'btn--primary', 'download')
        +buttonLink('#', 'Secondary', 'btn--secondary', 'download')
        +buttonLink('#', 'Deep Purple', 'btn--deep-purple', 'download')
        +buttonLink('#', 'White', 'btn--white', 'download', 'download')
        +buttonLink('#', 'Grey', 'btn--grey', 'download')
        +button('Disabled', 'btn--disabled', 'disabled')(disabled)

      h2 Download buttons
      .block
        //- link, value, style
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--primary', 'download')
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--secondary', 'download')
        +buttonLink('#', 'Download (1500 x 2000 jpeg)', 'btn--disabled', 'disabled')

      h2 Form groups
      .block
        h3 Search
        +form('javascript:console.log("search submitted")', 'post')
          .input-group
            +input('search', 'Enter a keyword', 'q', 'search_box')(maxlength='1000', pattern='^(?!.*<script|<Script).*$')
            +button('Search', 'btn--primary', 'search')

        h3 Find your MP and constituency
        +form('javascript:console.log("postcode submitted")', 'post')
          .input-group
            +input('text', 'Enter your full postcode, for example SW1A 0AA.', 'postcode_main', 'postcodeSearch')(maxlength='8', pattern='[0-9a-zA-Z ]{5,}')
            +button('Find', 'btn--primary', 'postcode')

      p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].
