extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1 Form elements

  section
    .container
      h2 HTML &lt;form&gt; Tag

      //- action, method + additional attributes and block content
      +form('javascript:console.log("form action")', 'post')
        +button('Submit', 'btn--primary', 'submit')

      h2 HTML &lt;input&gt; Text

      //- name, id, label, label class + additional attributes
      +input--text('name', 'txtName', 'Full name')(required)

      h2 HTML &lt;input&gt; Search / Email / Tel (requires validation)

      //- type, name, id, regex pattern, max length, label, label class + additional attributes
      +input--validate('email', 'email', 'txtEmail', '.+\\\@.+\\\..+', null, 'Email Address', null)(required)

      //- form input with error message
      label(for='form-with-error') Telephone
      p.message--error Please enter a valid telephone number
      input(type='text' name='phone' id='form-with-error')

      h2 HTML &lt;input&gt; Checkbox

      //- fieldset, legend, legend_class + block content
      +fieldset('Which part of the day do you prefer?')
        //- type, name, id, label, label_class + additional attributes
        +radio--checkbox('checkbox', 'time-of-day', 'chkDay', 'Day')
        +radio--checkbox('checkbox', 'time-of-day', 'chkNight', 'Night')

      h2 HTML &lt;input&gt; Radio

      //- fieldset, legend, legend_class + block content
      +fieldset('How do you wish to be contacted?')
        //- type, name, id, label, label_class + additional attributes
        +radio--checkbox('radio', 'contact-method', 'rdEmail', 'Email')
        +radio--checkbox('radio', 'contact-method', 'rdPhone', 'Phone')
        +radio--checkbox('radio', 'contact-method', 'rdTxtMsg', 'Text message')

      h2 HTML &lt;input&gt; Radio (__inline)

      //- fieldset, legend, legend_class + block content
      +fieldset('What is your favourite colour?')
        //- type, name, id, label, label_class + additional attributes
        +radio--checkbox__inline('radio', 'colour-choice', 'rdRed', 'Red')
        +radio--checkbox__inline('radio', 'colour-choice', 'rdBlue', 'Blue')
        +radio--checkbox__inline('radio', 'colour-choice', 'rdGreen', 'Green')

      h2 HTML &lt;input&gt; Radio (__verbose)

      //- fieldset, legend, legend_class + block content
      +fieldset('Please select one of the following options')
        //- type, name, id, description, label, label_class + additional attributes
        +radio--checkbox__verbose('radio', 'option-choice', 'rdOpt1', 'Description text for option 1', 'Option 1')
        +radio--checkbox__verbose('radio', 'option-choice', 'rdOpt2', 'Description text for option 2', 'Option 2')
        +radio--checkbox__verbose('radio', 'option-choice', 'rdOpt3', 'Description text for option 3', 'Option 3')

      h2 HTML &lt;input&gt; File

      ol.list--pipe__deep
        li
          .card
            figure.svg--icon(data-file-upload='icon')
                include ../../icons/file.svg
            .card__details
              h3 Attach your petition template

              //- name, id, label, label class + additional attributes
              +input--file('file-uploader', 'fileUpload', 'Choose file', 'btn--primary')(required)

              p(data-file-upload='status') No file(s) selected

      h2 HTML &lt;input&gt; Submit

      //- name, id, value, class + additional attributes
      +button--submit('submit-button', 'sbBtn', 'Submit', 'btn--primary')

      h2 HTML &lt;button&gt; Tag

      //- value, class, type + additional attributes
      +button('Submit', 'btn--primary', 'submit')
      +button('Reset', 'btn--secondary', 'reset')
      +button('Disabled', 'btn--disabled')(disabled)

      h2 HTML &lt;select&gt; Tag

      //- name, id, label + block content
      +select('house-select', 'selHouse', 'Select a house')
        //- value, valueAttrib + additional attributes
        +option('House of Commons', 'HoC')
        +option('House of Lords', 'HoL')

      h2 HTML &lt;option&gt; Tag

      //- name, id, label + block content
      +select('house-option', 'optHouse', 'Option where value and content use different strings')
        //- value, content + additional attributes
        +option('House of Commons', 'HoC')

      //- name, id, label + block content
      +select('house-option-alt', 'optHouseAlt', 'Option where value and content use the same string')
        //- value + additional attributes
        +option('House of Lords')

      h2 HTML &lt;optgroup&gt; Tag

      //- label, name, id + block content
      +select('house-select-alt', 'selHouseAlt', 'Select a house')
        //- label + block content
        +optgroup('House')
          //- value, comtent + additional attributes
          +option('House of Commons', 'HoC')
          +option('House of Lords', 'HoL')

      h2 HTML &lt;textarea&gt; Tag

      //- id, label + additional attributes
      +textarea('txtComment', 'Leave a comment')
