extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary#content
    .container
      .block--border__bottom
        h1 Islington North
        include ../../components/mapbox
