extends ../../layouts/layout.pug
block content
	.section--primary#content
		.container
			.section--primary__container
				.section--primary__block
					//- Page Title
					h1 Navigation options

			.section--primary__container
				.section--primary__block
					h2 A to Z (navigation-letter)
					//- Letter Navigation
					include ../../components/navigation-letter.pug

	section
		.container
			h2 Pagination (navigation-number)
			include ../../components/navigation-number.pug
