extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1 Tables

  section
    .container
      table
        thead
          tr
            th Name
            th Purpose
            th Expires
        tbody
          tr
            td UK_Parliament__seen_cookie_message
            td This lets us know you have seen our cookie message.
            td After 28 days.
          tr
            td _beta_parliament_session
            td This ensures your preferences and settings remain while you browse our site.
            td When you close your web browser.

  section
    .container
      table
        thead
          tr
            th Name
            th Purpose
            th Expires
        tbody
          tr
            td _ga
            td
              | This helps us know how many people have visited beta.parliament.uk by telling us if you’ve visited before.
            td After 2 years.
          tr
            td _gat
            td This helps us know how long you spend on a page.
            td After 10 minutes.
          tr
            td _gid
            td
              | This helps us count how many people have visited beta.parliament.uk by telling us if you’ve visited before.
            td After 1 day.

  section
    .container
      table
        thead
          tr
            th Name
            th Purpose
            th Expires
        tbody
          tr
            td _hjDonePolls
            td This ensures a poll will not reappear once you have completed it.
            td After 1 year.
          tr
            td _hjMinimizedPolls
            td This ensures a poll remains minimised when you move through our site.
            td After 1 year.
          tr
            td _hjDoneTestersWidgets
            td This ensures a form does not reappear once you have completed it.
            td After 1 year.
          tr
            td _hjMinimizedTestersWidgets
            td This ensures a form remains minimised when you move through our site.
            td After 1 year.
          tr
            td _hjIncludedInSample
            td This informs Hotjar whether your visit is included in their sample set.
            td After 1 year.

  section
    .container
      table
        thead
          tr
            th Name
            th Purpose
            th Expires
        tbody
          tr
            td AzureAppProxyUserSessionCookie_*
            td This informs our site that you have connected to their application.
            td After 1 year.

  section
    .container
      table
        thead
          tr
            th Name
            th Purpose
            th Expires
        tbody
          tr
            td __cfduid
            td This allows Cloudflare to identify trusted web traffic from our site.
            td After 1 year.
