extends ../../layouts/layout.pug
block content

  .section--primary#content
    .container
      h1 Timeline

  section
    .container
      h2 Roles
      .timeline
        h3 Held currently
        ul.list--block
          li
            .list--details
              h5 MP for #[+link('#', 'Hackney North and Stoke Newington')]
              p Parliamentary role
              p 8 Jun 2017 to present
      .timeline
        h3 Held in the last 10 years
        ul.list--block
          li
            .list--details
              h5 MP for #[+link('#', 'Hackney North and Stoke Newington')]
              p Parliamentary role
              p 7 May 2015 to 3 May 2017
          li
            .list--details
              h5 MP for #[+link('#', 'Hackney North and Stoke Newington')]
              p Parliamentary role
              p 6 May 2010 to 30 Mar 2015
          li
            .list--details
              h5 MP for #[+link('#', 'Hackney North and Stoke Newington')]
              p Parliamentary role
              p 5 May 2005 to 6 May 2010
          li
            .list--details
              h5 Member of the Foreign Affairs: Entry Clearance Sub-Committee
              p Committee role
              p 25 Nov 1997 to 19 Nov 1998
          li
            .list--details
              h5 Member of the Treasury & Civil Service
              p Committee role
              p 15 May 1989 to 8 Nov 1995
          li
            .list--details
              h5 Member of the Foreign Affairs Committee
              p Committee role
              p 16 Jul 1997 to 11 May 2001
          li
            .list--details
              h5 Member of the Treasury & Civil Service Sub-Committee
              p Committee role
              p 17 May 1989 to 8 Nov 1995
          li
            .list--details
              h5 Member of the Treasury Committee
              p Committee role
              p 15 Nov 1995 to 21 Mar 1997
      .timeline
        h3 1987
