extends ../../layouts/layout.pug
block content

  .section--primary(tabindex=0)#content
    .container
      h1 Dropdown Toggles &amp; Switches

  section
    .container
      h2 Toggle (independent)
      +dropdownToggle("When to contact an MP")
        p MPs can help with issues that are the responsibility of UK Parliament. They represent their constituencies and can help with issues such as:
        ul
          li Hospitals and the NHS
          li Problems with benefits, pensions and national insurance
          li Immigration
          li School closures and funding
          li Transport facilities
        p #[+link('#', 'Who else can help with my issue?')]

      h2 Toggle (within a block)
      .block
        +dropdownToggle("When to contact an MP")
          p MPs can help with issues that are the responsibility of UK Parliament. They represent their constituencies and can help with issues such as:
          ul
            li Hospitals and the NHS
            li Problems with benefits, pensions and national insurance
            li Immigration
            li School closures and funding
            li Transport facilities
          p #[+link('#', 'Who else can help with my issue?')]

        p Please include your postcode when contacting your MP.
        dl.list--definition
          dt Email:
          dd
            +link('mailto:margot.james.mp@parliament.uk', 'margot.james.mp@parliament.uk')
          dt Phone:
          dd #[+link('tel:02072197226', '02072197226')]
          dt Address:
          dd House of Commons, London, SW1A 0AA
          dt Website:
          dd #[+link('#', 'www.margotjames.org.uk')]
          dt Website:
          dd #[+link('#', 'www.conservatives.com')]
        p You may be able to discuss issues with your MP in person or online. Contact them for details.

      h2 Radio Switch (content initally shown)
      
      +form('javascript:console.log("form submitted")', 'post')
        .block--border__bottom(data-dropdown='holder')
          +fieldset('Have you completed your questionnaire?')
            +input('radio', 'Yes', 'radio-group-inline', 'question-check-yes')(data-dropdown='switch')
            +input('radio', 'No', 'radio-group-inline', 'question-check-no')(checked)

          div(data-dropdown-content='show') 
            .status--highlight.theme--caution
              p Complete your questionnaire before you continue

        +button('Submit', 'btn--primary', 'submit')

      h2 Checkbox Switch (content initally hidden)

      +form('javascript:console.log("form submitted")', 'post')
        .block--border__bottom(data-dropdown='holder')
          +input('checkbox', 'I agree to the terms and conditions', 'terms-check', 'termsCheck')(data-dropdown='switch')

          div(data-dropdown-content='hide') 
            .status--highlight.theme--success
              p Thank you for agreeing to our terms and conditions

        +button('Submit', 'btn--primary', 'submit')
