extends ../../layouts/layout.pug
block content

  .section--primary(tabindex=0)#content
    .container
      h1
        span Dropdown Toggles &amp; Switches

  section
    .container
      h2 Toggle (aside)
      .dropdown(data-toggle='item')
        +button('Find by department or body', 'btn--ghost--inverse btn--toggle')(data-toggle='parent-item')
        .dropdown__content(data-toggle='content')
          aside
            +link('#', 'Close')(class='btn--close', data-toggle='parent-item')
            h2 Departments and body
            p Find &lt;subject&gt; by the department or body.
            h3 Government departments
            ol
              li #[+link('#', 'Attorney General\'s Office')]
              li #[+link('#', 'Cabinet Office')]
              li #[+link('#', 'Department for Business, Energy and Industrial Strategy')]
              li #[+link('#', 'Department for Business, Innovation and Skills')]
              li #[+link('#', 'Department for International Development')]
              li #[+link('#', 'Department for Digital, Culture, Media and Sport')]
              li #[+link('#', 'Department for Education')]
              li #[+link('#', 'Department for Energy and Climate Change')]
              li #[+link('#', 'Department for Environment, Food and Rural Affairs')]
              li #[+link('#', 'Department for Exiting the European Union')]
              li #[+link('#', 'Department for International Development')]
              li #[+link('#', 'Department for International Trade')]
              li #[+link('#', 'Department for Transport')]
              li #[+link('#', 'Department for Work and Pensions')]
              li #[+link('#', 'Department for Health and Social Care')]
              li #[+link('#', 'Deputy Prime Minister')]
              li #[+link('#', 'Foreign and Commonwealth Office')]
              li #[+link('#', 'HM Treasury')]
              li #[+link('#', 'Home Office')]
              li #[+link('#', 'Ministry of Defence')]
              li #[+link('#', 'Ministry of Housing, Communities and Local Government')]
              li #[+link('#', 'Ministry of Justice')]
              li #[+link('#', 'Northern Ireland Office')]
              li #[+link('#', 'Prime Minister')]
              li #[+link('#', 'Scotland Office')]
              li #[+link('#', 'Wales Office')]
              li #[+link('#', 'Women of Equalities')]
            h3 Other departments
            ol
              li #[+link('#', 'Church Commissioners')]
              li #[+link('#', 'Duchy of Lancaster Office')]
              li #[+link('#', 'House of Commons Commission')]
              li #[+link('#', 'Members Estimate Committee')]
              li #[+link('#', 'Office of the Leader of the House of Lords')]
              li #[+link('#', 'Public Accounts Commission')]
              li #[+link('#', 'Speaker\'s Committee for the Independent Parliamentary Standards Authority')]
              li #[+link('#', 'Speaker\'s Committee on the Electoral Commission')]
              li #[+link('#', 'The Lord Chairman of Committees')]
              li #[+link('#', 'The Senior Deputy Speaker')]

      h2 Toggle (independent)
      .dropdown--block(data-toggle='item')
        +button('When to contact an MP', 'btn--toggle')(data-toggle='parent-item')
        .dropdown__content(data-toggle='content')
          p MPs can help with issues that are the responsibility of UK Parliament. They represent their constituencies and can help with issues such as:
          ul
            li Hospitals and the NHS
            li Problems with benefits, pensions and national insurance
            li Immigration
            li School closures and funding
            li Transport facilities
          p #[+link('#', 'Who else can help with my issue?')]

      h2 Toggle (within a block)
      .block
        .dropdown(data-toggle='item')
          +button('When to contact an MP', 'btn--toggle')(data-toggle='parent-item')
          .dropdown__content(data-toggle='content')
            p MPs can help with issues that are the responsibility of UK Parliament. They represent their constituencies and can help with issues such as:
            ul
              li Hospitals and the NHS
              li Problems with benefits, pensions and national insurance
              li Immigration
              li School closures and funding
              li Transport facilities
            p #[+link('#', 'Who else can help with my issue?')]

        p Please include your postcode when contacting your MP.
        dl.list--definition
          dt Email:
          dd
            +link('mailto:margot.james.mp@parliament.uk', 'margot.james.mp@parliament.uk')
          dt Phone:
          dd #[+link('tel:02072197226', '02072197226')]
          dt Address:
          dd House of Commons, London, SW1A 0AA
          dt Website:
          dd #[+link('#', 'www.margotjames.org.uk')]
          dt Website:
          dd #[+link('#', 'www.conservatives.com')]
        p You may be able to discuss issues with your MP in person or online. Contact them for details.

      h2 Radio Switch (content initally shown)

      +form('javascript:console.log("form submitted")', 'post')
        .block--border__bottom(class='open', data-toggle='item')
          +fieldset('Have you completed your questionnaire?')
            //- type, name, id, label, label_class + additional attributes
            +radio--checkbox__inline('radio', 'question-check', 'quesChkYes', 'Yes')(data-toggle='parent-item')
            +radio--checkbox__inline('radio', 'question-check', 'quesChkNo', 'No')(class='open', data-toggle='parent-item', checked)

          div(class='open', data-toggle='content')
            .status--highlight.theme--caution
              p Complete your questionnaire before you continue

        button(type='submit', class='btn--primary')= 'Submit'

      h2 Checkbox Switch (content initally hidden)

      +form('javascript:console.log("form submitted")', 'post')

        .block--border__bottom(data-toggle='item')
          //- type, name, id, label, label_class + additional attributes
          +radio--checkbox('checkbox', 'terms-check', 'termsChk', 'I agree to the terms and conditions')(data-toggle='parent-item')

          div(data-toggle='content')
            .status--highlight.theme--success
              p Thank you for agreeing to our terms and conditions

        button(type='submit', class='btn--primary')= 'Submit'
