extends ../../layouts/layout.pug
block content

  .section--primary(tabindex=0)#content
    .container
      h1 Tracks

  section
    .container
      h2 Default
      .track
        h3 Held currently
        ul.list--block
          li
            .list--details
              h4 MP for #[+link('#', 'Waveney')]
              p Elected 3 times
              ul
                li 8 Jun 2017 to present
                li 7 May 2015 to 3 May 2017
                li 6 May 2010 to 30 Mar 2015
        h3 Held in the last 10 years
        ul.list--block
          li
            .list--details
              h4 Member of the Environmental Audit Committee
              p Committee role
              p 20 Jul 2015 to 3 May 2017
          li
            .list--details
              h4 Member of the Environmental Audit Committee
              p Committee role
              p 26 Jul 2010 to 30 Mar 2015
        h3 2010

  section
    .container
      h2 Alternative
      .track--alternative
        h3 First heading with list block
        ul.list--block
          li
            .list--details
              h4 #[+link('#', 'Heading 4')]
              p Paragraph content

        h3 Single heading [no content]
        h3 Last heading with list pipe
        ul.list--pipe
          li
            .list--details
              h4 #[+link('#', 'Heading 4')]
              p Paragraph content
              ul
                li Item 1
                li Item 2
                li Item 3
