extends ../../layouts/layout.pug
block content
  -var thingPage = true
  -var article = true

  article(tabindex=0)#content
    header
      .container
        small #[+link('#', 'Article Type [Article, News, Guidance]')]
        h1
          span Article header
          span.context Context
        p Summary is a brief overview of what the content is about.
        p If you want to find out what what's happening on a particular day in the Chamber the best way is to look at the Order Paper, which is the daily agenda.

        include ../../components/meta

    div(role='main')
      .container
        // Lead image component //
        figure
          picture
            source(srcset="https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_5:2&width=732&quality=80, https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_5:2&width=1464&quality=80 2x" media="(min-width: 480px)")
            source(srcset="https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=MCU_3:2&width=444&quality=80, https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?crop=MCU_3:2&width=888&quality=80 2x")
            img(src="https://api-parliament-uk.azure-api.net/photo/0qLRSwb3.jpeg?width=732&quality=80", alt="Margot James")
          figcaption Lead image (optional) #[+link('#','example link to resource')]

        // Headless CMS content
        p You can speak in debates in the Chamber and Westminster Hall. You should be aware of the Rules of behaviour and courtesies in the House, issued by the Speaker, before you do so.
        p The House reaches its decisions or highlights its opinions by debating motions. MPs argue for or against a specific motion and then reach a decision, with or without the need for a vote. Motions are listed on the Order Paper, along with the names of the MPs who support them.
        p A general motion is neutrally worded. It usually begins, “That this House has considered”. It lets the House discuss an issue without giving an opinion or taking action on it. You can’t amend this kind of motion.
        p A substantive motion calls on the House to take action or express an opinion. You can amend a substantive motion.
        p Although most motions that are debated are tabled by the Government, there are opportunities for backbenchers to hold debates too:

        ol
          li adjournment debates
          li Westminster Hall debates
          li Backbench Business Committee debates
          li emergency debates

        ul
          li adjournment debates
          li Westminster Hall debates
          li Backbench Business Committee debates
          li emergency debates

        p The main Opposition parties get a chance to hold debates on their motions on Opposition days.

    footer
      .container
        aside
          include ../../components/collections
        include ../../components/utilities
