extends ../../layouts/layout.pug
block content

	.section--primary#content
		.container
			h1 Backgrounds

	section
		.container
			h2 grey-5 (base background)

			.block.theme__grey-5
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--primary')

	section
		.container
			h2 deep-purple

			.block.theme__deep-purple.accent__white
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--white')


	section
		.container
			h2 white

			.block.theme__white.accent__mint
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--primary')

	section
		.container
			h2 mint

			.block.theme__mint.accent__mint--light
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--deep-purple')

	section
		.container
			h2 mint--light

			.block.theme__mint--light.accent__mint
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--deep-purple')

	section
		.container
			h2 purple

			.block.theme__purple.accent__white
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--white')

	section
		.container
			h2 purple--light

			.block.theme__purple--light.accent__purple
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--deep-purple')

	section
		.container
			h2 caution--light

			.block.theme__caution--light.accent__caution
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--deep-purple')

	section
		.container
			h2 success--light

			.block.theme__success--light.accent__success
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--deep-purple')

	section
		.container
			h2 warning--light

			.block.theme__warning--light.accent__warning
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--deep-purple')

	section
		.container
			h2 grey-4

			.block.theme__grey-4.accent__mint
				h1 Heading
				p Body text
				p #[+link('#', "link")]
				+buttonSubmit('Button', 'btn--primary')
