extends ../../layouts/layout.pug
block content
  .section--primary
    .container
      //- Page Title
      h1
        span Conservative MPs and Lords
        +link('#', '- :startdate - :enddate parliament')
        span.lead A to Z

      p A to Z - select a letter
      //- Letter Navigation
      include ../../components/navigation-letter.pug

  section#content
    .container
      ol.list--box
        +list--box('Nigel Adams', 'Selby & Ainsty', 'Labour', '/images/placeholder_members_image.png')
        +list--box('Nigel Adams', 'Selby & Ainsty', 'Labour', '/images/placeholder_members_image.png')
