extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary#content
    .container
      h1 Islington North
      +map('/templates/prototypes/map.html.json')
        p Map of constituency is unavailable.

  section
    .container
      ol.list--box
        +list--box('Jeremy Corbyn', 'MP for Islington North', 'Labour', '/images/placeholder_members_image.png')

  section
    .container
      h2 Former MPs
      ol.list--pipe
        each object in [{member: 'Jeremy Corbyn', sitting_duration: '7 May 2015 to 3 May 2017'},{member: 'Jeremy Corbyn', sitting_duration: '6 May 2010 to 30 Mar 2015'}]
          li
            .list--details
              h3 #[+link('#', object.member)]
              p= object.sitting_duration
