extends ../../layouts/layout.pug
block content
	-var thingPage

	+section--primary
		//- Page Title
		h1 Current and former constituencies

		p A to Z - Showing results for A
		//- Letter Navigation
		include ../../components/navigation-letter.pug

	+section--secondary
			//- Result List
			ol.list--box
				+list--box('Nigel Adams', 'Selby & Ainsty', 'Labour')
