extends ../../layouts/layout-front-page.pug
block content
  -var thingPage = true

  .section--primary.hero(tabindex=0)#content
    .container
      h1 Welcome to the UK Parliament test website
      p We're building a #[+link('#', 'new website for Parliament')]. These pages are being tested and improved - they may be inaccurate or misleading.
      p Test pages are separate from the current #[+link('#', 'parliament.uk')] website.

  section
    .container
      h2 Give feedback
      p We want your feedback to #[+link('#', 'help us improve these pages')] further.

      h2 Member information
      ol.list--block
        -var list_box_h2 = true
        +list--block__generic('MPs', 'All current members of the House of Commons')
        +list--block__generic('Lords', 'All current members of the House of Lords')
        +list--block__generic('Constituencies', 'Find MPs by the area they represent')
        +list--block__generic('Parties and groups', 'Find MPs and Lords by their party or group')

      .status--highlight
        p Read the latest Members service #[+link('#', 'blog post')].

      h2 Follow our progress
      p Follow all #[+link('#', 'new website developments on our blog')].
