extends ../../layouts/layout.pug
block content
	h1 UK Parliament test website
	p.lead Welcome to beta.parliament.uk, a test website for UK Parliament.
	.block
		.highlight__box
			h2 About this website
			p We’re building a new website for Parliament. These pages are being tested and improved – they may be inaccurate or misleading.
			p Test pages are separate from the current parliament.uk website.
	h2 What's on our test website
	.block--border-bottom
		h3 Member Information
		p We’re building a page for all #[+link('#', 'MPs')] and #[+link('#', 'Lords')], with details on constituencies and parties and groups.
	h2 Feedback
	p We want your feedback on test pages to help us improve them further.
	h2 Follow our progress
	p Follow all new website developments on our blog.

