extends ../../layouts/layout.pug
block content
  h1 UK Parliament test website
  .block
    p.lead Welcome to beta.parliament.uk, a test website for UK Parliament.
  .block
    .highlight__box
      h2 About this website
      p We’re building a #[+link('#', 'new website for Parliament')]. These pages are being tested and improved – they may be inaccurate or misleading.
      p Test pages are separate from the current #[+link('#', 'parliament.uk')] website.
  h2 What's on our test website
  h3 Member Information
  ol.list
    li.list__item--secondary
      ul
        li
          h4 #[+link('#', 'MPs')]
        li
          p All current members of the House of Commons
    li.list__item--secondary
      ul
        li
          h4 #[+link('#', 'Lords')]
        li
          p All current members of the House of Lords
    li.list__item--secondary
      ul
        li
          h4 #[+link('#', 'Constituencies')]
        li
          p Find MPs by the area they represent
    li.list__item--secondary
      ul
        li
          h4 #[+link('#', 'Parties and groups')]
        li
          p Find MPs and Lords by their party or group
  section
    h2 Feedback
    p We want #[+link('#', 'your feedback')] on test pages to help us improve them further.
  section
    h2 Follow our progress
    p Follow all #[+link('#', 'new website developments on our blog')].
