extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .article--wrapper
    .container
      article(tabindex=0)#content
        header
          p #[+link('#', 'MPs Guide to Procedure')]
          h1 How to submit an oral question on paper
          p These steps are for submitting an oral question on paper. You can also #[+link('#', 'submit an oral question online')].
          p You or your staff can complete these steps, but your handwritten signature is needed for step 3.

        //------ Example nav -------//
          nav
            .block
              ul.list--inline
                each val in ['Heading one', 'Heading two', 'Heading three', 'Heading four', 'Heading five', 'Heading six', 'Heading seven', 'Heading eight', 'Heading nine', 'Heading ten']
                  li
                    +link('#')= val
        //--------------------------//

        div(role='main')
          h2 Steps
          ol
            li Use the #[+link('#', 'Question Time rota (PDF, 45 KB)')] to find out which departments are due to answer questions. The deadline for tabling oral questions is 12.30pm three sitting days before the Question Time takes place (or five sitting days for Northern Ireland, Scotland and Wales questions). A sitting day is a day when the House is meeting.
            li Fill in a question form (#[+link('#', 'download a question form (Word doc, 39 KB)')] from the intranet or get one from the Table Office or Procedural Hub).
              ul
                li Tick the box to specify that it is an oral question.
                li Fill in your name, constituency and the relevant department.
                li Write the text of your question in the blank space on the form. Check it conforms to the #[+link('#', 'rules for questions')]. To submit a topical question, write ‘T’ in the blank space. You can table #[+link('#', 'one substantive and one topical question')] (check the rota to see whether there are topical questions for that department) for each departmental Question Time. A substantive question means you submit the text of the question in advance. A topical question means there is no need to submit the text in advance.
                li If you are asking a substantive question and have an #[+link('#', 'interest to declare')], tick the box and email #[+link('#', 'tableoffice@parliament.uk')] to say what the interest is.
            li Take your question form to the Table Office or Procedural Hub in person, or ask another MP to take it for you. Or sign the question form and post it or ask your staff to take it to the Table Office or Procedural Hub (faxed, stamped or photocopied signatures cannot be accepted).
            li The Table Office will check your question and contact you if they have a problem. Once the Table Office has approved your question, it has been tabled.

        footer
          h2.beta Contact an expert

          h3.zeta For enquiries about this thing
          p Table office
          dl.list--definition
            dt Email:
            dd #[+link('tableoffice@parliament.uk', 'tableoffice@parliament.uk')]
            dt Extension(s):
            dd 3305

          h2 Up to:
          p #[+link('#', 'MPs Guide to Procedure')]

          include ../../elements/_utilities.pug

      aside
        h2 Related Articles
        .block
          ul.list--pipe
            li
              .list--details
                +link('#', 'How to submit an oral question online')
            li.active
              .list--details
                | How to submit an oral question on paper
            li
              .list--details
                +link('#', 'Deadlines for oral questions')
            li
              .list--details
                +link('#', 'What happens after your oral question has been tabled')
            li
              .list--details
                +link('#', 'What happens in the Chamber if you have an oral question')
            li
              .list--details
                +link('#', 'Grouping of oral questions')
            li
              .list--details
                +link('#', 'Taking part in Question Time if you haven\'t got a question on the Order Paper')
            li
              .list--details
                +link('#', 'Opposition spokespeople and Question Time')
            li
              .list--details
                +link('#', 'Withdrawing an oral question')
            li
              .list--details
                +link('#', 'Backbenchers who answer oral questions')
