extends ../../layouts/layout.pug
block content
	.section--primary
		.container
			//- Page Title
			h1 Lords
			p A to Z - select a letter
			//- Letter Navigation
			include ../../components/navigation-letter.pug

	section#content
		.container
			//- Result List
			ol.list--box
				-var lords_list = true
				+list--box('Lord Aberdare', 'House of Lords', 'Crossbench', '/images/placeholder_members_image.png')
				+list--box('Baroness Adams of Craigielea', 'House of Lords', 'Labour', '/images/placeholder_members_image.png')
				+list--box('Lord Addington', 'House of Lords', 'Liberal Democrats', '/images/placeholder_members_image.png')
