extends ../../layouts/layout.pug
block content
	.section--primary
		.container
			//- Page Title
			h1 Current MPs in the House of Commons
			p A to Z - select a letter
			//- Letter Navigation
			include ../../components/navigation-letter.pug

	section#content
		.container
			//- Result List
			ol.list--box
				+list--box('Nigel Adams', 'Selby & Ainsty', 'Labour', '/images/placeholder_members_image.png')
				+list--box('Diane Abbott', 'Hackney North and Stoke Newington', 'Labour', '/images/placeholder_members_image.png')
				+list--box('Debbie Abrahams', 'Oldham East and Saddleworth', 'Labour', '/images/placeholder_members_image.png')
