extends ../../layouts/layout.pug
block content
  -var thingPage

  .section--primary
    .container
      //- Page Title
      h1 Current MPs in the House of Commons
      p A to Z - select a letter
      //- Letter Navigation
      include ../../components/navigation-letter.pug

  section(tabindex=0)#content
    .container
      //- Result List
      ol.list--block
        +list--block('Margot James', 'Stourbridge', 'Conservative', 'https://api-parliament-uk.azure-api.net/Staging/photo/0qLRSwb3.jpeg?crop=CU_1:1&width=186&quality=80')
        +list--block('Diane Abbott', 'Hackney North and Stoke Newington', 'Labour', 'https://api-parliament-uk.azure-api.net/Staging/photo/S3bGSTqn.jpg?crop=CU_1:1&height=186&quality=80')
        +list--block('Debbie Abrahams', 'Oldham East and Saddleworth', 'Labour', '/images/placeholder_members_image.png')
