extends ../../layouts/layout.pug
block content
  .section--primary
    .container
      //- Page Title
      h1 Current MPs in the House of Commons
      p.lead A to Z - select a letter
      //- Letter Navigation
      include ../../components/navigation-letter.pug

  section(id="content")
    .container
      //- Result List
      ol.list
        each object in [{name: 'Abbott, Diane', constituency: 'MP for Hackney North and Stoke Newington', party: 'Labour'},{name: 'Abrahams, Debbie', constituency: 'MP for Oldham East and Saddleworth', party: 'Labour'},{name: 'Adams, Nigel', constituency: 'MP for Selby & Ainsty', party: 'Conservative'},{name: 'Ahmed-Sheikh, Tasmina', constituency: 'MP for Ochil and South Perthshire', party: 'Scottish National Party'},{name: 'Aldous, Peter', constituency: 'MP for Waveney', party: 'Conservative'}]
          li.list__item
            h2 #[+link(object.name === 'Abbott, Diane' ? 'people-id.html' : '#', object.name)]
            p= object.constituency
            p= object.party
