extends ../../layouts/layout.pug
block content
  .section--primary
    .container
      .section--primary__container
        .section--primary__block
          //- Page Title
          h1 Lords

      .section--primary__container
        .section--primary__block
          p A to Z - select a letter
          //- Letter Navigation
          include ../../components/navigation-letter.pug

  section#content
    .container
      //- Result List
      ol.list--box
        each object in [{name: 'Lord Aberdare', party: 'Crossbench'},{name: 'Baroness Adams of Craigielea', party: 'Labour'},{name: 'Lord Addington', party: 'Liberal Democrats'},{name: 'Lord Adebowale', party: 'Crossbench'},{name: 'Lord Adonis', party: 'Non-affiliated'}]
          li
            h2 #[+link('#', object.name)]
            p= object.party
