extends ../../layouts/layout.pug
block content
  -var thingPage

  .section--primary
    .container
      //- Page Title
      h1 Lords
      p A to Z - select a letter
      //- Letter Navigation
      include ../../components/navigation-letter.pug

  section(tabindex=0)#content
    .container
      //- Result List
      ol.list--block
        -var lords_list = true
        +list--block('Lord Aberdare', 'House of Lords', 'Crossbench', '/images/placeholder_members_image.png')
        +list--block('Baroness Adams of Craigielea', 'House of Lords', 'Labour', '/images/placeholder_members_image.png')
        +list--block('Lord Addington', 'House of Lords', 'Liberal Democrats', '/images/placeholder_members_image.png')
