extends ../../layouts/layout.pug
block content
	.section--primary
		.container
			.block--border__bottom

				#mapbox(data-json-location='http://localhost:5000/templates/prototypes/map.html.json')
					noscript
						p Map of constituency is unavailable.

				h1 Islington North
