extends ../../layouts/layout.pug
block content
	-var thingPage = true

	.section--primary#content
		.container
			.block--border__bottom
				h1 Official portrait of Margot James
				figure
					picture(style="display: block; margin-bottom: 50px")
						source(media="(min-width: 1008px)" srcset="http://placehold.it/1464")
						source(media="(min-width: 768px)" srcset="http://placehold.it/768")
						img(src="http://placehold.it/400" alt="picture")
					+image('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?width=340&quality=80', 'Margot James')(srcset="http://placehold.it/1464 1464w, http://placehold.it/768 768w, http://placehold.it/400 400w")(sizes='100vw')
					figcaption Official portrait of #[+link('people-id.html','Margot James')]
				p This photo, and all related crops, are released under an #[+link('#', 'Attribution 3.0 Unported (CC BY 3.0)')] license.
				p You can use, share and adapt the photographs if you give proper credit, provide a link to the license, and indicate if changes were made to the image. See the #[+link('#', 'full license')] for more details.
				+link('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg&download=true','Download (3797 x 5315 jpeg)')(class="btn--primary", download)
				//+link('https://apidataparliament.azure-api.net/photo/0qLRSwb3.tiff?download=true','Download original (3797 x 5315 tiff)')(class="btn--secondary", download)

	section
		.container
			h2 Cropped portraits
			ol.list--pipe
				li
					figure
						+image('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?crop=MCU_3:2&width=260&quality=80', 'Margot James')
					.list--details
						h3 3 x 2 Portrait
						+link('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?crop=MCU_3:2&quality=100&download=true','Download (3000 x 2000 jpeg')(class="btn--primary", download)
				li
					figure
						+image('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?crop=MCU_3:4&width=260&quality=80', 'Margot James')
					.list--details
						h3 3 x 4 Portrait
						+link('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?crop=MCU_3:4&quality=100&download=true','Download (1500 x 2000 jpeg)')(class="btn--primary", download)
				li
					figure
						+image('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_1:1&width=260&quality=80', 'Margot James')
					.list--details
						h3 Thumbnail
						+link('https://apidataparliament.azure-api.net/photo/0qLRSwb3.jpeg?crop=CU_1:1&quality=100&download=true','Download (1500 x 1500 jpeg)')(class="btn--primary", download)
