extends ../../layouts/layout.pug
block content
	.section--primary(id="content")
		.container
			//- Page Title
			h1 Navigation preview

			h2 A to Z (navigation-letter)
			//- Letter Navigation
			include ../../components/navigation-letter.pug

	section
		.container
			h2 Pagination (navigation-number)
			include ../../components/navigation-number.pug
