extends ../../layouts/layout.pug
block content
  .section--primary
    .container
      //- Page Title
      h1 Parties and groups
      .list--tab
        li.active Commons
        li
          +link('#', "Lords")

      .list--tab
        li
          +link('#', "Commons")
        li.active Lords

  section(id="content")
    .container
      //- Option Tags
      ol.list--box
        each object in [{name: 'Conservative', description: 'All current Conservative MPs', count: '345'},{name: 'Labour', description: 'All current Labour MPs', count: '9'},{name: 'Vanguard Unionist Progressive Party', description: 'All current Vanguard Unionist Progressive Party MPs', count: '786'}]
          li
            .column--75
              h2 #[+link('#', object.name)]
              p= object.description
            .column--25
              p
                =object.count
                span MPs
