extends ../../layouts/layout.pug
block content
  //- Back Button
  .block
    p &lt; #[+link('people-members-current.html', 'Previous page')]
  //- Page Title
  h1 Parties and groups
  //- Option Tags
  h2.link__button #[+link('conservative-current.html', 'Conservative Party')(role="button")]
  h2.link__button #[+link('#', 'Labour Party')(role="button")]
  h2.link__button #[+link('#', 'Liberal Democrats')(role="button")]
