extends ../../layouts/layout.pug
block content
  .section--primary
    .container
      //- Page Title
      h1 Parties and groups
      include ../../components/navigation-tab

  section#content
    .container
      //- Option Tags
      ol.list--box
        +list--box__parties('Conservative', '345')
        +list--box__parties('Labour', '9')
        +list--box__parties('Vanguard Unionist Progressive Party', '786')
