extends ../../layouts/layout.pug
block content
  -var thingPage

  .section--primary
    .container
      h1 Parties and groups

  section#content
    .container
      include ../../components/navigation-tab
      ol.list--box
        +list--box__parties('Conservative', '345')
        +list--box__parties('Labour', '9')
        +list--box__parties('Vanguard Unionist Progressive Party', '786')
