extends ../../layouts/layout.pug
block content
  .section--primary
    .container
      //- Page Title
      h1 Parties and groups
      ul.list--tab
        li.active Commons
        li
          +link('#', "Lords")

      ul.list--tab
        li
          +link('#', "Commons")
        li.active Lords

  section#content
    .container
      //- Option Tags
      ol.list--box
        +list--box__parties('Conservative', '345')
        +list--box__parties('Labour', '9')
        +list--box__parties('Vanguard Unionist Progressive Party', '786')
