extends ../../layouts/layout.pug
block content
	.section--primary#content
		.container
			.block--border__bottom
				+image('../../images/kenneth_clark_1464x584.jpg', 'Dianne Abbott')
				h1 Kenneth Clarke
				p #[+link('#', 'Labour')] MP for #[+link('#', 'Rushcliffe')]

	section.section--minor
		.container
			.dropdown
				.dropdown__toggle
					h2 #[+link('#', 'Check if this is your MP')]
				.dropdown__content
					form(action='postcode')
						.form-group
							+input('Enter your full postcode, for example SW1A 0AA.', 'input', 'postcode_main', 'text', 8, '[0-9a-zA-Z ]{5,}', '')
							|
							button#btn_loading(type='submit', value='Search', class='btn--secondary')
								span.btn--loading__text Find
								span.btn--loading__icon
									object(data='../../icons/loading.svg', type='image/svg+xml')
					p Don't know your postcode? Find it on the  #[+link('http://www.royalmail.com/find-a-postcode', 'Royal Mail postcode finder')].

	section
		.container
			.block
				h2 Contact
				dl.list--definition
					dt Email:
					dd
						+link('mailto:clarkek@parliament.uk', 'clarkek@parliament.uk')
					dt Phone:
					dd
						+link('tel:0207 219 5189', '0207 219 5189')
					dt Address:
					dd House of Commons, London, SW1A 0AA

	section
		.container
			//- Membership History
			h2 Roles
			h3 MP
			ol.list--pipe
				each object in [{constituency: 'Rushcliff', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Rushcliff', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Rushcliff', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Rushcliff', sitting_duration: '7 May 2015 - 3 May 2017'}]
					li
						.list-details
							p MP for #[+link('#', object.constituency)]
							p= object.sitting_duration
