extends ../../layouts/layout.pug
block content
  .section--primary(id="content")
    .container
      h1 Ms Diane Abbott - Current and former constituencies

  section
    .container
      ol.list--box
        li
          h2 #[+link('#', 'Hackney North and Stoke Newington')]
            span.sr-only constituency from 7 May 2015 to present
          p 
            span(aria-hidden='true') 7 May 2015 to present
        li
          h2 #[+link('#', 'Hackney North and Stoke Newington')]
            span.sr-only constituency from 6 May 2010 to 30 Mar 2015
          p
            span(aria-hidden='true') 6 May 2010 to 30 Mar 2015
