extends ../../layouts/layout.pug
block content
	.section--primary(id="content")
		.container
			.block--border__bottom
				.section--primary__container
					+image('../../images/diane-abbott.jpg', 'Dianne Abbott')
					.section--primary__block
						h1 Diane Abbott
						p #[+link('#', 'Labour')] MP for #[+link('#', 'Hackney North and Stoke Newington')]

	section
		.container
			//- Membership History
			h2 Roles
			h3 Member of the House of Commons
			ol.list--pipe
				each object in [{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '7 May 2015 - 3 May 2017'}]
					li
						p MP for #[+link('#', object.constituency)]
						p= object.sitting_duration
