extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1
        span Flood Control: Finance
        span.context For Department for Environment, Food and Rural Affairs

  section
    .container

      .block--border__bottom
        h2 Question

        .card--small
          figure.avatar--round
            a(href='#', aria-hidden='true', tabindex='-1')
              picture
                img(src='https://static.parliament.uk/pugin/1.10.3/images/placeholder_members_image.png', alt='')
          .card__details
            h3 #[+link('#', 'Eric Pickles')]
            p.typography--heavy Shadow Secretary of State for Communities and Local Government

        p To ask the Secretary of State for Environment, Food and Rural Affairs how much public funding was allocated to the internal drainage boards in each year since 1997-98.

      .block--border__bottom
        h2 Answer

        .card--small
          figure.avatar--round
            a(href='#', aria-hidden='true', tabindex='-1')
              picture
                img(src='https://static.parliament.uk/pugin/1.10.3/images/placeholder_members_image.png', alt='')
          .card__details
            h3 #[+link('#', 'Mr Phil Woolas')]
            p.typography--heavy Minister of State (Department for Environment, Food and Rural Affairs) (Environment) until 05 October 2008

        p The following table shows details of public funding allocated to internal drainage boards (IDBs) in each year from 1999-2000. Figures prior to this year are not held centrally by DEFRA. Please note that not all income is included in the 2005-06 figure.

        .table--wrapper
          table
            tbody
              tr
                td(colspan='10') Income received by internal drainage boards
              tr
                td(colspan='10') £ million
              tr
                td
                td
                  | Agricultural drainage rates
                  sup 1
                td
                  | Special levies
                  sup 2
                td
                  | EA cont
                  sup 3
                td
                  | Devp cont
                  sup 4
                td
                  | Other beneficiary contributions
                  sup 5
                td
                  | Government grant
                  sup 6
                td
                  | Loans received
                  sup 7
                td
                  | Other
                  sup 8
                td
                  | Total
              tr
                td 1999-2000
                td 11.3
                td 18.8
                td 2.1
                td &mdash;
                td 0.8
                td 0.5
                td 0.6
                td 6.4
                td 40.5
              tr
                td 2000-01
                td 11.1
                td 19.5
                td 2.0
                td 1.1
                td 0.3
                td 0.3
                td 0.2
                td 7.5
                td 42.0
              tr
                td 2001-01
                td 11.7
                td 20.2
                td 2.3
                td 1.3
                td 0.2
                td 2.0
                td 0.6
                td 6.7
                td 45.0
              tr
                td 2002-03
                td 12.4
                td 21.3
                td 2.6
                td 1.4
                td 0.8
                td 2.0
                td 0.5
                td 6.8
                td 47.8
              tr
                td 2003-04
                td 12.8
                td 22.1
                td 2.5
                td 1.9
                td 0.2
                td 1.3
                td 1.0
                td 5.2
                td 47.0
              tr
                td 2004-05
                td 13.4
                td 23.7
                td 2.5
                td 2.1
                td 0.8
                td 1.1
                td 1.4
                td 6.4
                td 51.5
              tr
                td 2005-06
                td 13.4
                td 24.7
                td 2.8
                td &mdash;
                td &mdash;
                td &mdash;
                td &mdash;
                td &mdash;
                td 40.9
            tfoot
              tr
                td(colspan='10')
                  sup 1
                  | Agricultural drainage rates collected by the IDB from agricultural land and buildings within the drainage district.
              tr
                td(colspan='10')
                  sup 2
                  | Special levies collected by the IDB &nbsp; local authorities pay special levies to internal drainage boards which fall entirely or partly within their boundaries to take account of works the boards do in relation to flood risk management, for example in urban areas.
              tr
                td(colspan='10')
                  sup 3
                  | Contributions from the Environment Agency.
              tr
                td(colspan='10')
                  sup 4
                  | Contributions from developers.
              tr
                td(colspan='10')
                  sup 5
                  | Contributions from other beneficiaries.
              tr
                td(colspan='10')
                  sup 6
                  | Government grant—DEFRA funds individual capital improvement projects promoted by IDBs subject to relevant economic, social, environmental and prioritisation criteria.
              tr
                td(colspan='10')
                  sup 7
                  | Loans raised from the public works loans board to fund balance of grant costs etc.
              tr
                td(colspan='10')
                  sup 8
                  | All other income (including contributions from local authorities, income from rechargeable works undertaken for others, and interests received on deposits).
              tr
                td(colspan='10')
                  | Note: In financial year 2005-06, not all information on income and expenditure was collected centrally by DEFRA. As such the figure represented in the total column does not equal all income received by IDBs in that financial year.
