extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container
      h1
        span Question 121039
        span.context For HM Treasury

  section
    .container

      .block--border__bottom
        h2 Question

        p To ask Mr Chancellor of the Exchequer, what assessment he has made of the effect of the proposed closure of Royal Bank of Scotland branches on the ability of local business to deposit and collect funds.

        .card--small
          h3 Asked on 21 December 2017 by
          figure.avatar--round
            a(href='#', aria-hidden='true', tabindex='-1')
              picture
                img(src='https://api.parliament.uk/Staging/photo/le5yVfj8.jpeg?crop=CU_1:1&amp;width=260&amp;quality=80', alt='Ian Blackford 260 by 260 pixels')
          .card__details
            p #[+link('#', 'Ian Blackford')]
            p MP for Ross, Skye and Lochaber

      .block--border__bottom
        h2 Answer

        p The industry’s Access to Banking Standard, launched in May 2017, commits banks to ensure personal and business customers are better informed about branch closures and the reasons for them closing, along with the options they have locally to continue to access banking services, including specialist assistance for customers who need more help. The Access to Banking Standard is monitored and enforced by the independent Lending Standards Board.

        p 99% of banks’ personal and 95% of banks’ business customers are now able to withdraw cash, deposit cash and cheques, and make balance enquiries at a Post Office counter via its network of 11,600 branches. At Autumn Budget 2017, I wrote to the Post Office and UK Finance to ask them to raise public awareness of the banking services available at the Post Office for individuals and SMEs.

        p The Government will have provided nearly £2 billion during the period 2011 to 2018 to maintain and modernise the Post Office network. In December 2018, the Government announced an additional £370 million of funding for the period 2018-2021.

        .card--small
          h3 Answered on 08 January 2018 by
          figure.avatar--round
            a(href='#', aria-hidden='true', tabindex='-1')
              picture
                img(src='https://api.parliament.uk/Staging/photo/YpBcp8n1.jpeg?crop=CU_1:1&width=260&quality=80', alt='Stephen Barclay 260 by 260 pixels')
          .card__details
            p #[+link('#', 'Stephen Barclay')]
            p Economic Secretary (HM Treasury) until 09 January 2018
