extends ../../layouts/layout.pug
block content
  -var thingPage = true

  .section--primary(tabindex=0)#content
    .container

      small #[+link('#', 'Statutory Instruments')]
      h1
        span Insurance Companies (Taxation of Re-insurance Business) Regulations 2018
        span.context SI 2018/538

      include ../../components/meta

  section
    .container
      ul.list--block
        li
          .card
            .card__details
              small Work package
              h2 #[+link('#', 'Insurance Companies (Taxation of Re-insurance Business) Regulations 2018')]
              dl
                dt Procedure
                dd Made negative
                dt Status
                dd Status details

