html {
  position: relative;
  min-height: 100%;
}
// Variables inherited from 'settings/_fonts.scss'
body {
  margin-bottom: 165px; // equal to footer height
  padding: 0;
  background-color: $main-background;
  direction: ltr;
  font-family: $base-font-stack;
  color: $grey-1;
}
