// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

// Core form element styling

form {
  width: 100%;
  > :last-child {
    margin-bottom: 0;
  }
}

label {
  display: block;
}

fieldset {
  border: none;
  padding: 0;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  padding: ($base-spacing-unit-tiny - 1);
  @include media($tablet) {
    width: 70%;
  }
}

.input__sm {
  @include media($tablet) {
    width: 20%;
  }
}

.input__md {
  @include media($tablet) {
    width: 40%;
  }
}

input {
  &[type="text"],
  &[type="search"] {
    border-radius: 0;
    appearance: none;
  }
  &[type="text"] {
    border: 2px solid $grey-3;
  }
  &[type="search"] {
    border: 1px solid $grey-3;
  }
  &[name="postcode"] {
    text-transform: uppercase;
  }
  &[type="submit"] {
    width: auto;
  }
  &[type="radio"]:checked,
  &[type="radio"]:not(:checked),
  &[type="checkbox"]:checked,
  &[type="checkbox"]:not(:checked) {
    width: 2px;
    height: 2px;
    opacity: 0;
    margin: 0;
  }
  &[type="radio"]:checked + label,
  &[type="radio"]:not(:checked) + label,
  &[type="checkbox"]:checked + label,
  &[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: ($base-spacing-unit-medium * 2);
    color: $grey-1;
    cursor: pointer;
    margin-top: 4px;
  }
  &[type="radio"]:checked + label:before,
  &[type="radio"]:not(:checked) + label:before,
  &[type="checkbox"]:checked + label:before,
  &[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 32px;
    height: 32px;
    @include media($tablet) {
      width: 38px;
      height: 38px;
    }
    border: 2px solid $grey-3;
    background: $white;
  }
  &[type="radio"]:checked + label:before,
  &[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
  }
  &[type="radio"]:checked + label:after,
  &[type="radio"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 20px;
    height: 20px;
    @include media($tablet) {
      top: 4px;
      left: 8px;
      width: 22px;
      height: 22px;
    }
    border-radius: 100%;
    background: $grey-1;
  }
  &[type="checkbox"]:checked + label:after,
  &[type="checkbox"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 7px;
    @include media($tablet) {
      top: 7px;
      left: 10px;
    }
    width: 18px;
    height: 11px;
    border-style: solid;
    border-width: 0 0 4px 4px;
    border-color: $grey-1;
    border-top-color: transparent;
    background: transparent;
    transform: rotate(-45deg);
  }
  &[type="radio"]:not(:checked) + label:after,
  &[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  &[type="radio"]:focus + label::before,
  &[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 3px $grey-3;
  }
}

select {
  height: 48px;
  background-color: $white;
  border: 0;
  outline: solid 2px $grey-3;
  outline-offset: -2px;
}

textarea {
  min-height: 96px;
  border: 2px solid $grey-3;
}

// File upload specific

input[type="file"] {
  border: none;
  padding: $base-spacing-unit 0;
  background-color: transparent;
  + label {
    display: none;
  }
}
[data-file-upload="status"] {
  display: none;
}

.has-js {
  input[type="file"] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    opacity: 0;
    z-index: -1;
    + label {
      display: inline-block;
    }
  }
  [data-file-upload="status"] {
    display: block;
  }
}

// Pseudo state styling (including Mozilla focus overides)

input:focus,
button:focus,
select:focus,
textarea:focus {
  z-index: 10;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px $grey-3;
}

select:focus {
  outline: 5px solid $grey-3;
  outline-offset: -2px;
}

input {
  &[type="search"]:focus,
  &[name="postcode"]:focus {
    outline: 3px solid $grey-3;
    outline-offset: -3px;
    box-shadow: none;
  }
}

input[type="file"]:focus + label,
input[type="file"].js-has-focus + label {
  box-shadow: 0 0 0 3px $mint;
}

// Form error messaging

.message--error {
  color: $warning--dark;
  + input {
    border: solid 2px $warning--dark;
    &:focus {
      box-shadow: 0 0 0 3px $warning--dark;
    }
  }
}

// Form block holders

.input-group,
.input-group__inline,
.input-group__verbose {
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  label {
    flex: 0 0 100%;
  }
  input[type="search"],
  input[type="text"],
  button {
    min-height: 48px;
  }
  input[type="search"],
  input[type="text"] {
    flex: 1;
    margin-bottom: 0;
    margin-right: -1px;
  }
  @include media($tablet) {
    input[name="postcode"] {
      flex: 0 0 50%;
    }
  }
  button,
  input[type="submit"] {
    padding: 4px ($base-spacing-unit-medium - 2);
  }
}

.input-group__verbose {
  label {
    font-weight: 500;
    margin-bottom: $base-spacing-unit;
  }
  + * {
    margin-left: (($base-spacing-unit-extra-large + $base-spacing-unit-tiny) + 3);
  }
}

.input-group__inline {
  @include media($desktop) {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-bottom: 0;
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      padding-right: $base-spacing-unit-large;
    }
  }
}

/*--- Component Styles ---*/

.search__global {
  @media (max-width: $desktop - 1) {
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding-left: 82px;
    position: absolute;

    .input-group {
      margin-right: 8px;
      flex-direction: row;
      transition: margin 0.15s linear 0.03s;
      justify-content: flex-end;

      input {
        flex: 0;
        min-width: 0;
      }
    }
    &.open {
      .input-group {
        margin-right: 60px;
        transition-delay: 0.05s;

        input {
          flex: 1;
          transition-property: width, padding, flex;
          transition-duration: 0.12s;
          transition-delay: 0.12s;
        }
      }
    }
    &:not(.open) {
      input,
      button {
        &:focus,
        &:active {
          display: none;
        }
      }
      .input-group input {
        padding-left: 0;
        padding-right: 0;
        transition: flex 0.1s linear 0s;
        transition: padding 0.1s linear 0.01s;
      }
    }
  }
  form {
    margin-bottom: 0;
    position: relative;
  }
  .input-group {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    @include media($desktop) {
      width: 300px;
    }
    input {
      &:focus {
        outline-color: $grey-3;
      }
      &:focus + button {
        border: none;
        padding-right: 14px;
        background-color: $mint;

        &:hover {
          background-color: darken($mint, 10%);
        }
      }
      &:invalid + button {
        cursor: unset;
      }
      &:required {
        box-shadow:none;
      }
    }
  }
  button {
    padding: 4px 13px 4px 15px;

    &:hover,
    &:focus {
      background-color: $grey-4;
      box-shadow: none;
    }
  }
}

// Physical Print Styles

@media print {
  button,
  input[type="submit"] {
    display: none;
  }
}
