// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

// Core form element styling

form {
  width: 100%;
}

label {
  display: block;
  padding-bottom: $base-spacing-unit-tiny;
}

fieldset {
  border: none;
  margin: 0 0 $base-spacing-unit-tiny 0;
  padding: 0;
  legend {
    margin-bottom: $base-spacing-unit-tiny;
  }
}

input,
textarea {
  border: 1px solid $grey-3;
  display: block;
  padding: ($base-spacing-unit-tiny - 1);
  width: 100%;
  @include media($tablet) {
    width: 70%;
  }
}

input {
  &[name="postcode"] {
    text-transform: uppercase;
  }
  &[type="file"] {
    border: none;
    padding: 0;
  }
  &[type="checkbox"],
  &[type="radio"] {
    flex: 0 0 auto;
    margin: ($base-spacing-unit + 1) ($base-spacing-unit + 1) ($base-spacing-unit + 1) 0;
    width: auto;
  }

  &[type="checkbox"] + label,
  &[type="radio"] + label {
    margin-right: ($base-spacing-unit-tiny - 1);
  }
}

textarea {
  min-height: 96px;
}

// Pseudo state styling (including Mozilla focus overide)

input:focus,
button:focus,
textarea:focus, {
  position: relative;
  z-index: 10;
  outline: 3px solid $caution;
  outline-offset: -3px;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 3px solid $caution;
  outline-offset: -3px;
}

// Form block holders

.input-group {
  display: flex;
  flex-wrap: wrap;
  label:first-child {
    flex: 0 0 100%;
  }
  input[type="text"],
  button {
    min-height: 48px;
  }
  input[type="search"],
  input[type="text"] {
    flex: 0 0 65%;
    margin-right: -$base-spacing-unit;
  }
}

.input-group__inline {
  display: inline-flex;
}

// Physical Print Styles

@media print {
  button,
  input[type="submit"] {
    display: none;
  }
}
