// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.form-group {
  margin-bottom: $base-spacing-unit;
  input {
    float: left;
    margin-left: -1px;
  }
}

form {
  width: 100%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

legend {
  @include screenreader;
}

label {
  cursor: pointer;
  display: block;
  padding-bottom: ($base-spacing-unit-tiny - 4);

  .form-hint {
    color: $grey-3;
    display: block;
    margin: 0;
    padding-bottom: 0;
  }
}

input[type="text"],
input[type="password"],
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: $black;
  display: block;
  padding: ($base-spacing-unit-tiny);
  width: 50%;
}

select {
  border-width: 1px;
  border-style: solid;
  border-color: $black;
  padding: ($base-spacing-unit-tiny - 4);
  width: 50%;
}

textarea {
  padding: ($base-spacing-unit-tiny - 2);
}

button,
input[type="reset"],
input[type="submit"] {
  border-width: 1px;
  border-style: solid;
  border-color: $black;
  padding-top: $base-spacing-unit-tiny;
  padding-bottom: $base-spacing-unit-tiny;
  padding-left: ($base-spacing-unit - 8);
  padding-right: ($base-spacing-unit - 8);
  cursor: pointer;
}

// Physical Print Styles
@media print {
  button,
  input[type="reset"],
  input[type="submit"],
  legend {
    display: none;
  }
}
