/*--- Heading Mixins ---*/
@mixin list-headings {
  h2, h3, h4, h5, h6 {
    &:not(.milli, .micro) {
      font-size: inherit;
      //line-height: inherit;
    }
  }
}

/*--- Base Heading Settings ---*/
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: 500;
  color: $deep-purple;
  margin-bottom: $base-spacing-unit;
  margin-top: $base-spacing-unit-medium;
  @include media($desktop) {
    margin-top: $base-spacing-unit-large;
  }
  &.lead {
    @extend .lead;
  }
}

/*--- Heading Settings ---*/
h1, .alpha {
  @include alpha;
  margin-bottom: $base-spacing-unit-tiny;

  @include media($desktop) {
    margin-top: 0;
    margin-bottom: $base-spacing-unit-small;
  }
}
h2, .beta {
  @include beta;
  margin-top: $base-spacing-unit-extra-large;
  margin-bottom: $base-spacing-unit-tiny;

  @include media($desktop) {
    margin-top: ($base-spacing-unit-extra-large + $base-spacing-unit);
    margin-bottom: $base-spacing-unit-small;
  }
}
h3, .gamma {
  @include gamma;
}
h4, .delta {
  @include delta;
}
h5, .epsilon {
  @include epsilon;
}
h6, .zeta {
  @include zeta;
}

/*--- Heading Nested Elements ---*/
h1 a {
  vertical-align: top;
  @include fontsize(20);
  line-height: 1.2; // 24px;

  @include media($desktop) {
    vertical-align: top;
    @include fontsize(22);
    line-height: 1.091; // 24px
  }
}
h1 span {
  display: block;
  &:last-child {
    @include fontsize(16);
    font-weight: 400;
    line-height: 1.125; // 18px;

    @include media($desktop) {
      @include fontsize(18);
      display: block;

      &:nth-of-type(2) {
        @include fontsize(18);
        line-height: 1.334; // 24px;
      }
    }
  }
}
h1 span + span {
  margin-top: $base-spacing-unit-small;

  .hero & {
    margin-top: $base-spacing-unit;
  }
}

/*--- Footer Settings ---*/
footer h2 {
  @extend .zeta;
}

/*--- Component Settings ---*/

.block,
.hero {
  h1 {
    position: relative;
    margin-bottom: $base-spacing-unit-large;
  }
  h1:after {
    @extend .line-break--lg;
    left: 0;
    content: '';
    position: absolute;
    bottom: - $base-spacing-unit-extra-large;
  }
}

.dropdown__toggle {
  h2, h3 {
    @include fontsize(18);
    line-height: 1.334; // 24px;
  }
}

.list--details, .list--details__inline {
  h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.track > {
  h2, h3, h4, h5, h6 {
    color: $grey-1;
    position: relative;
    line-height: 1.250; // 30px;
    @include fontsize(16);
    @include media($tablet) {
      @include fontsize(20);
    }
    &:before {
      z-index: 1;
      left: -24px;
      width: 11px;
      content: '';
      height: 11px;
      margin-top: 6px;
      border-radius: 50%;
      position: absolute;
      vertical-align: top;
      bottom: calc(50% - 5px);
      background-color: $grey-1;
    }
  }
  h2 + h2, h3 + h3, h4 + h4, h5 + h5 {
    margin-top: $base-spacing-unit-large;
  }
}
.track--alternative {
  @extend .track;
  &:before {
    height: calc(100% - 10px) !important;
  }
  &:after {
    position: absolute;
    content: '';
    background-color: $grey-1;
    width: 7px;
    height: 1px;
    left: -4px;
    bottom: 0;
  }
}

/*--- Article Settings ---*/

article {
  @media (min-width: $tablet) {
    h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

/*--- Sidebar Settings ---*/

aside h2 {
  @include delta;
}
