/*--- Heading Mixins ---*/
@mixin list-headings {
  h2, h3, h4, h5, h6 {
    &:not(.milli, .micro) {
      @include epsilon;
    }
  }
}

/*--- Base Heading Settings ---*/
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: 500;
  color: $deep-purple;
  margin-bottom: $base-spacing-unit;
  margin-top: $base-spacing-unit-medium;
  @include media($desktop) {
    margin-top: $base-spacing-unit-large;
  }
  &.lead {
    @extend .lead;
  }
}

/*--- Heading Settings ---*/
h1, .alpha {
  @include alpha;
  margin-bottom: $base-spacing-unit-tiny;
  margin-top: $base-spacing-unit-extra-large;

  @include media($desktop) {
    margin-bottom: $base-spacing-unit-small;
    margin-top: round($base-spacing-unit * 7);
  }
}
h2, .beta {
  @include beta;
  margin-bottom: $base-spacing-unit-tiny;
  margin-top: $base-spacing-unit-extra-large;

  @include media($desktop) {
    margin-bottom: $base-spacing-unit-small;
    margin-top: round($base-spacing-unit * 7);
  }
}
h3, .gamma {
  @include gamma;
  margin-bottom: $base-spacing-unit;
  margin-top: $base-spacing-unit-medium;

  @include media($desktop) {
    margin-bottom: $base-spacing-unit;
    margin-top: $base-spacing-unit-large;
  }
}
h4, .delta {
  @include delta;
  margin-bottom: $base-spacing-unit;
  margin-top: $base-spacing-unit-medium;

  @include media($desktop) {
    margin-bottom: $base-spacing-unit;
    margin-top: $base-spacing-unit-large;
  }
}
h5, h6, .epsilon {
  @include epsilon;
  line-height: 1.167; // 21px
  margin-bottom: $base-spacing-unit;
  margin-top: $base-spacing-unit-medium;

  @include media($desktop) {
    line-height: 1.2; // 24px
    margin-bottom: $base-spacing-unit;
    margin-top: $base-spacing-unit-large;
  }
}

/*--- Heading Nested Elements ---*/
h1 a {
  vertical-align: top;
  @include delta;
  line-height: 1.2; // 24px

  @include media($desktop) {
    vertical-align: top;
    line-height: 1.091; // 24px
  }
}
h1 span {
  display: block;
  &:last-child {
    @include fontsize(16);
    font-weight: 400;
    line-height: 1.125; // 18px

    @include media($desktop) {
      @include fontsize(18);
      display: block;

      &:nth-of-type(2) {
        @include fontsize(18);
        line-height: 1.334; // 24px
      }
    }
  }
}
h1 span + span {
  margin-top: $base-spacing-unit-small;

  .hero & {
    margin-top: $base-spacing-unit;
  }
}

/*--- Footer Settings ---*/
footer h2 {
  @extend .epsilon;
}

/*--- Component Settings ---*/

.block,
.hero {
  h1 {
    position: relative;
    margin-bottom: $base-spacing-unit-large;
  }
  h1:after {
    @extend .line-break--lg;
    left: 0;
    content: '';
    position: absolute;
    bottom: - $base-spacing-unit-extra-large;
  }
}

.hero h1 {
  @include media($tablet) {
    max-width: 400px;
  }
  @include media($desktop) {
    max-width: 502px;
  }
}

.dropdown__toggle {
  h2, h3 {
    @include epsilon;
  }
}

.list--details, .list--details__inline {
  h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.track > {
  h2, h3, h4, h5, h6 {
    color: $grey-1;
    position: relative;
    line-height: 1.667; // 30px
    @include epsilon;
    &:before {
      z-index: 1;
      left: -24px;
      width: 11px;
      content: '';
      height: 11px;
      margin-top: 6px;
      border-radius: 50%;
      position: absolute;
      vertical-align: top;
      bottom: calc(50% - 5px);
      background-color: $grey-1;
    }
  }
  h2 + h2, h3 + h3, h4 + h4, h5 + h5 {
    margin-top: $base-spacing-unit-large;
  }
}
.track--alternative {
  @extend .track;
  &:before {
    height: calc(100% - 10px) !important;
  }
  &:after {
    position: absolute;
    content: '';
    background-color: $grey-1;
    width: 7px;
    height: 1px;
    left: -4px;
    bottom: 0;
  }
}

.section--primary .container,
.hero .container,
article header,
[role='main'] {
  @include headings-margin-top(0);
  h1:first-of-type {
    margin-top: 0;
    @include line-length;
  }
}

.block {
  @include headings-margin-top(0);
  h1:first-of-type {
    margin-top: 0;
  }
}

/*--- Sidebar Settings ---*/

aside h2 {
  @include delta;
}

article + aside > h2 {
  color: $white;
  background-color: $deep-purple--light;
  padding: $base-spacing-unit-small;
  margin-top: 0;
  margin-bottom: 0;
}

/*--- Card styles ---*/

.card,
[class*="card--"] {
  h2, h3, h4, h5, h6 {
    @extend .epsilon;
    flex-basis: 100%;
    max-width: none;
    color: $grey-1;
    margin: 0 0 $base-spacing-unit;

    @include media($smartphone) {
      ~ * {
        margin-top: $base-spacing-unit;
      }
    }
  }
}
