// Base Heading Settings
h1, h2, h3, h4, h5, h6 {
  margin-top: $base-spacing-unit-medium;
  margin-bottom: $base-spacing-unit;
  padding: 0;
  color: $navy;
  @include media($desktop) {
    margin-top: $base-spacing-unit-large;
  }
}

// fontsize mixin creates 'font-size' in both REM & Pixels

// Brand Heading Settings - Mobile (pixels)

h1 {
  @include fontsize(32);
  line-height: 1.125; // 36px;
  margin-top: 0;
  margin-bottom: $base-spacing-unit-tiny;
}

h2 {
  @include fontsize(28);
  line-height: 1.286; // 36px;
  margin-top: $base-spacing-unit-extra-large;
  margin-bottom: $base-spacing-unit-tiny;
}

h3 {
  @include fontsize(24);
  line-height: 1.250; // 30px;
}

h4 {
  @include fontsize(21);
  line-height: 1.143; // 24px;
}

h5 {
  @include fontsize(18);
  line-height: 1.334; // 24px;
}

h6 {
  @include fontsize(16);
  line-height: 1.5; // 24px;
}

// Brand Heading Settings - Desktop (pixels)

@include media($desktop) {
  h1 {
    @include fontsize(36);
    line-height: 1.167; // 42px
    margin-top: 0;
    margin-bottom: $base-spacing-unit-small;
  }
  h2 {
    @include fontsize(32);
    line-height: 1.125; // 36px
    margin-top: ($base-spacing-unit-extra-large + $base-spacing-unit);
    margin-bottom: $base-spacing-unit-small;
  }
  h3 {
    @include fontsize(26);
    line-height: 1.154; // 30px
  }
  h4 {
    @include fontsize(22);
    line-height: 1.364; // 30px
  }
  h5 {
    @include fontsize(20);
    line-height: 1.2; // 24px
  }
  h6 {
    @include fontsize(18);
    line-height: 1.334; // 24px;
  }
}

// Component Heading Settings (pixels)

[class*="highlight--"] {
  h1 {
    position: relative;
    margin-bottom: $base-spacing-unit-large;
  }
  h1:after {
    @extend .line-break--lg;
    position: absolute;
    content: '';
    left: 0;
    bottom: - $base-spacing-unit-extra-large;
  }
}

footer {
  h2 {
    @include fontsize(16);
    @include media($desktop) {
      @include fontsize(18);
    }
  }
}

.list {
  h2, h3, h4, h5, h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    margin-bottom: $base-spacing-unit;
  }
}

h2.slider-link {
  @include fontsize(24);
  line-height: 1.250; // 30px;
  @include media($desktop) {
    @include fontsize(26);
    line-height: 1.154; // 30px
  }
}

.slider-content {
  h3 {
    @include fontsize(20);
    line-height: 1.2; // 24px
    @include media($desktop) {
      @include fontsize(24);
      line-height: 1.250; // 30px;
    }
  }
}
