svg {
  pointer-events: none;
  vertical-align: middle;
}

/*--- UK Parliament Icon ---*/

@media (max-width: $desktop - 1) {
  .uk_parliament {
    z-index: 1;
    position: relative;
    display: inline-block;
  }
  svg [data-icon="uk-parliament"] {
    transition: fill 0.15s linear 0.12s;
  }
  &.portcullis {
    width: 50px;
    overflow: hidden;

    svg [data-icon="uk-parliament"] {
      fill: transparent;
      transition-delay: 0.05s;
    }
  }
}

// Inline icon layout

.icon--inline {
  width: 16px;
  height: 16px;
  @include media($tablet) {
    width: 20px;
    height: 20px;
  }
  padding-top: 2px;
  float: left;
  margin-right: ($base-spacing-unit + 2);
}

// Loading icon (animated)

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn--loading svg {
  @include css-animation(
    .8s,					// duration
    linear,				// timing function
    0s,						// delay
    infinite,			// iteration count
    spinner				// name
  );
  path {
    fill: $white;
    height: 24px;
  }
}
.btn--loading.btn--white svg,
.btn--loading.btn--white object {
  path {
    fill: $deep-purple;
  }
}

// File icon

svg [data-icon="file"] {
  [data-icon="success"], [data-icon="failure"], [data-icon="word"], [data-icon="pdf"] {
    display: none;
  }
}

// File icon (types)

.svg--file__word svg {
  [data-icon="word"] {
    display: block;
  }
}

.svg--file__pdf svg {
  [data-icon="pdf"] {
    display: block;
  }
}

// File icon (status)

.svg--file__success svg,
[data-file-upload="success"] svg {
  [data-icon="success"] {
    display: block;
  }
}

.svg--file__failure svg,
[data-file-upload="failure"] svg {
  [data-icon="failure"] {
    display: block;
  }
}

[class*="btn"] svg {
  width: 20px;
  height: 20px;
  margin-left: -4px;
}