// Variables inherited from 'settings/_colours.scss'

a {
  &:link {
    color: $blue;
    text-decoration: underline;
  }
  &:hover {
    color: $navy;
    text-decoration: none;
  }
  &:active {
    color: $navy;
    text-decoration: none;
  }
  &:focus {
    color: $blue;
    text-decoration: none;
  }
  &:visited {
    color: $purple;
  }
}
