// Variables inherited from 'settings/_colours.scss'

a {
  &:link {
    color: $blue;
    text-decoration: underline;
  }
  &:visited {
    color: $purple;
  }
  &:hover {
    color: $blue-soft;
    text-decoration: none;
  }
  &:active {
    color: $navy;
    text-decoration: none;
  }
  &:focus {
    background-color: $secondary;
    outline: 3px solid $secondary;
    color: $navy;
    text-decoration: none;
  }
}
