// ORDERED & UNORDERED LISTS
// Variables inherited from 'settings/_spacing.scss'

ul, ol {
  margin: 0 0 0 $base-spacing-unit-small;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

// Mobile List Item Size (pixels)
@include media($mobile) {
  li {
    @include fontsize(13, 2);
  }
}

// Tablet List Item Size (pixels)
@include media($tablet) {
  li {
    @include fontsize(15, 2);
  }
}

// Desktop List Item Size (pixels)
@include media($desktop) {
  li {
    @include fontsize(15, 2);
  }
}

// DEFINITION LISTS

dl, dt, dd {
  margin: 0;
  padding: 0;
}

// Mobile Definition List Sizes (pixels)
@include media($mobile) {
  dt, dd {
    @include fontsize(13, 2);
  }
}

// Tablet Definition List Sizes (pixels)
@include media($tablet) {
  dt, dd {
    @include fontsize(15, 2);
  }
}

// Desktop Definition List Sizes (pixels)
@include media($desktop) {
  dt, dd {
    @include fontsize(16, 2);
  }
}
