audio {
  width: 100%;
}

video {
  height: auto;
  width: 100%;
}

picture {
  display: block;
}
//.list--block li {
[class*="list--block"] li {
  figure, picture {
    width: 84px;
    height: 84px;
    position: relative;
    border-radius: 50%;
    background-color: $grey-5;
    margin-bottom: $base-spacing-unit;
    @media(min-width: $smartphone) {
      margin: 0 $base-spacing-unit-small 0 0;
    }

    a {
      &:active, &:hover {
        background: transparent;
        outline: none;
        &:after {
          bottom: 0;
          z-index: 1;
          content: "";
          width: 84px;
          height: 84px;
          opacity: 0.2;
          position: absolute;
          border-radius: 50%;
          background-color: $deep-purple;

          @include media($desktop) {
            width: 93px;
            height: 93px;
          }
        }
      }
    }

    @include media($desktop) {
      width: 93px;
      height: 93px;
    }
  }
  img {
    width: auto;
    height: 84px;
    border-radius: 50%;
    position: absolute;

    @include media($desktop) {
      height: 93px;
    }
  }
}
//.list--pipe li {
[class*="list--pipe"] li {
  figure, picture {
    width: 130px;
    height: auto;
    border-radius: 0;
    background-color: $grey-4;
    margin-bottom: $base-spacing-unit;
    @media(min-width: $smartphone) {
      margin: 0 $base-spacing-unit-small 0 0;
    }
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
img {
  z-index: 1;
  width: 100%;
  display: block;
  position: relative;
}

// SVG specific for all lists

[class*="list--"] li {
  .svg--icon {
    width: auto;
    background-color: transparent;
    svg {
      display: block;
    }
  }
}

figcaption {
  @include micro;
  margin-top: 0;
  color: $grey-2;
  background-color: $grey-5;
  border-bottom: solid 1px $grey-3;
  padding: $base-spacing-unit-tiny 0;
}

.loading {
  position: absolute;
  margin: 2px ($base-spacing-unit-tiny / 2);
  @-webkit-keyframes spinner {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @include css-animation(.8s, linear, 0s, infinite, spinner);
}

.video-wrap {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: $base-spacing-unit-medium;
  position: relative;
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Section Specific Styles

.section--primary {
  img + h1 {
    margin-bottom: $base-spacing-unit-tiny / 2;
  }
  img ~ p:last-child {
    margin-bottom: 0;
  }
}

@include media($desktop) {
  .section--primary {

  }
}
