// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

main {
  padding-bottom: $base-spacing-unit-extra-large;
}

blockquote {
  margin-left: 0;
  padding-left: $base-spacing-unit-small;
  border-left: $base-spacing-unit solid $grey-3;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 0;
  margin-bottom: $base-spacing-unit-small;
  color: $grey-2;
}

mark {
  background-color: $grey-3;
}
