// Variables inherited from 'settings/_spacing.scss'

table {
  width: 100%;
}

th, td {
  padding: $base-spacing-unit-tiny 0 $base-spacing-unit-tiny $base-spacing-unit-tiny;
}

thead th, tfoot td {
  background-color: $light-grey;
  border: solid 1px $soft-grey;
  text-align: left;
}

td {
  border: solid 1px $soft-grey;
}
