/*--- Tables ---*/

table {
  width: 100%;
  background: $grey-5;
  border-collapse: collapse;
  border-spacing: 0;
  th, td {
    @include milli;
    text-align: left;
    border-right: 1px solid $grey-3;
    padding: $base-spacing-unit-tiny;
    &:last-child {
      border-right: none;
    }
  }
  // This ensures that the top row is always the lighter colour.
  thead + tbody tr:nth-child(odd),
  tbody:first-child tr:nth-child(even) {
    background: $grey-4;
  }
  caption {
    margin-top: 0;
    text-align: left;
  }
}

/*--- Table wrapper ---*/

.table--wrapper {
  overflow-x: auto;

  @media print {
    overflow-x: visible;
  }
}
