// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

table {
  width: 100%;
  margin-top: 0;
  margin-bottom: $base-spacing-unit-small;
  background: $white;
  border-collapse: collapse;
  border-spacing: 0;
  th, td {
    padding: $base-spacing-unit-tiny;
  }
  thead {
    th {
      background: $white;
      &:nth-child(even) {
        border-left: 1px solid $grey-4;
        border-right: 1px solid $grey-4;
      }
    }
  }
  thead th, tfoot td {
    border: solid 3px $grey-4;
    text-align: left;
  }
  tbody tr {
    border-bottom: 1px solid $grey-4;
    &:last-of-type {
      border-bottom: 0;
    }
    td:nth-child(even) {
      border-left: 1px solid $grey-4;
      border-right: 1px solid $grey-4;
    }
  }
  caption {
    margin-top: 0;
    margin-bottom: $base-spacing-unit-small;
    text-align: left;
  }
}
