/*--- Typography Settings ---*/

body, .btn, button {
  @include epsilon;
}

p {
  margin: 0 0 $base-spacing-unit-small 0;
  @include line-length;
}

small, .milli {
  @include milli;
  color: $grey-2;
  font-weight: 400;
}

.micro {
  color: $grey-2;
  @include micro;
}

.lead {
  @include fontsize(21);
  line-height: 1.286; // 27px
  margin-bottom: $base-spacing-unit-small;
  @include media($desktop) {
    @include fontsize(24);
    line-height: 1.5; // 30px
    margin-bottom: $base-spacing-unit-medium;
  }
  .hero & {
    margin-top: $base-spacing-unit-extra-large;
  }
}

h1 + .lead {
  margin-top: -$base-spacing-unit-tiny;
}

/*--- Typography  Options ---*/
.typography--light {
  @include typography--light;
}
.typography--heavy {
  @include typography--heavy;
}

/*--- Settings for url & hint ---*/

.hint {
  @include milli;
}

[class*="list"] .url {
  @include milli;
}

/*--- Settings for count ---*/

.count {
  display: block;
  @include beta;
  @include typography--heavy;
}

/*--- Navigation Main ---*/

.navigation--main li {
  @include fontsize(16);
  @include media($tablet) {
    @include fontsize(18);
  }
  @include media($desktop) {
    @include fontsize(20);
  }
}
