/*--- Typography Settings ---*/

body {
  @include fontsize(16);
  line-height: 1.5; // 24px

  @include media($tablet) {
    @include fontsize(18);
  }
}

p {
  margin-top: 0;
  margin-bottom: $base-spacing-unit-small;
}

small, .milli {
  @include milli;
  color: $grey-2;
  font-weight: 400;
}

.micro {
  color: $grey-2;
  @include micro;
}

.lead {
  @include fontsize(21);
  line-height: 1.333; // 24px;
  margin-bottom: $base-spacing-unit-extra-large;
  @include media($tablet) {
    @include fontsize(24);
    line-height: 1.250; // 30px;
  }
  .hero & {
    margin-top: $base-spacing-unit-extra-large;
  }
}

h1 + .lead {
  margin-top: -$base-spacing-unit-tiny;
}

/*--- Typography  Options ---*/
.typography--light {
  font-weight: 300;
}
.typography--heavy {
  font-weight: 500;
}


/*--- Component Typography Settings ---*/

header {
  @include fontsize(36);
  line-height: 1.167; // 42px
  font-weight: 500;
}

.column--25 {
  @include fontsize(27);
  line-height: 1.111; // 30px;
  font-weight: 500;
  @include media($desktop) {
    @include fontsize(32);
    line-height: 1.125; // 36px
  }
  span {
    @include fontsize(16);
    line-height: 1.125; // 18px;
    font-weight: 400;

    @include media($tablet) {
      @include fontsize(18);
      line-height: 1.5 // 24px
    }
  }
}

button, input, label, optgroup, select, textarea, figcaption {
  font-family: $base-font-stack;
}

.btn, button, input {
  @include fontsize(16);
  line-height: 26px;
  @include media($tablet) {
    @include fontsize(18);
    line-height: 24px;
  }
}

label, optgroup, select, textarea {
  @include fontsize(16);
  @include media($tablet) {
    @include fontsize(18);
    line-height: 1.5;
  }
}

/*--- Settings for url & hint ---*/

.hint,
.url {
  @include fontsize(16);
}

