/*--- Typography Settings ---*/

body {
  @include fontsize(16);
  line-height: 1.5; // 24px

  @include media($tablet) {
    @include fontsize(18);
  }
}

p {
  @include zeta;
  line-height: 1.33; // 24px
  margin-bottom: $base-spacing-unit-small;
  margin-top: 0;
  max-width: 502px;

  @include media($desktop) {
    line-height: 1.5; // 30px
  }

  @include media($desktop-large) {
    max-width: 628px;
  }
}

small, .milli {
  @include milli;
  color: $grey-2;
  font-weight: 400;
}

.micro {
  color: $grey-2;
  @include micro;
}

.lead {
  @include fontsize(21);
  line-height: 1.286; // 27px;
  margin-bottom: $base-spacing-unit-small;
  @include media($desktop) {
    @include fontsize(24);
    line-height: 1.5; // 30px
    margin-bottom: $base-spacing-unit-medium;
  }
  .hero & {
    margin-top: $base-spacing-unit-extra-large;
  }
}

h1 + .lead {
  margin-top: -$base-spacing-unit-tiny;
}

/*--- Typography  Options ---*/
.typography--light {
  @include typography--light;
}
.typography--heavy {
  @include typography--heavy;
}

button, input, label, optgroup, select, textarea, figcaption {
  font-family: $base-font-stack;
}

.btn, button, input {
  @include epsilon;
  line-height: 26px;
  @include media($tablet) {
    line-height: 24px;
  }
}

label, optgroup, select, textarea {
  @include zeta;
}

/*--- Settings for url & hint ---*/

.hint,
.url {
  @include milli;
}

/*--- Settings for count ---*/

.count {
  display: block;
  @include beta;
  @include typography--heavy;
}


/*--- List ---*/

dl,
dt,
dd {
  @include zeta;
}

/*--- Navigation Main ---*/

.navigation--main li {
  @include fontsize(16);
  @include media($tablet) {
    @include fontsize(18);
  }
  @include media($desktop) {
    @include fontsize(20);
  }
}
