//Clear Fix can be applied to any class by adding `@include clearfix`

.visually-hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.sr-only {
  @include screenreader;
}

.sr-only--focusable {
  &:focus, &:active {
    margin: 0;
    z-index: 2;
    clip: auto;
    width: auto;
    height: auto;
    overflow: visible;
    padding: $base-spacing-unit-tiny;
  }
}
