// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.block {
  display: block;
  margin: 0;
  padding: 0;
}

.block--border {
  @extend .block;
  padding-top: ($base-spacing-unit-small - 1); // -1px to compensate for border height
  padding-bottom: ($base-spacing-unit-small - 1); // -1px to compensate for border height
  border-bottom: 1px solid $grey-3;
  border-top: 1px solid $grey-3;
  p {
    margin-bottom: 0;
  }
  & + .block--border {
    border-top: none;
    padding-top: $base-spacing-unit-small;
    padding-bottom: ($base-spacing-unit-small - 1); // -1px to compensate for border height
  }
}

.block--top {
  @extend .block;
  padding-top: $base-spacing-unit-small;
}

.block--border-bottom {
  @extend .block;
  border-bottom: 1px solid $grey-3;
}
