/*--- Generic Rules ---*/

#content:focus {
  outline: none;
}

/*--- Section Options ---*/

.section--primary {
  padding-top: $base-spacing-unit-extra-large;
  margin-bottom: $base-spacing-unit-tiny;

  @include media($desktop) {
    padding-top: ($base-spacing-unit-extra-large + $base-spacing-unit);
    margin-bottom: $base-spacing-unit-small;
  }
}

.section--minor {
  padding: $base-spacing-unit-tiny 0;

  @include media($desktop) {
    padding: $base-spacing-unit-small 0;
  }
  .container {
    > :last-child {
      margin: 0;
    }
  }
}

.section--major {
  padding: $base-spacing-unit-extra-large 0;

  @include media($desktop) {
    padding: $base-spacing-unit-extra-large 0;
  }
}

/*--- Container Options ---*/

.container {
  padding: 0 $base-spacing-unit-small;
  margin: 0 auto;
  max-width: $max-width;
}

.container--offset {
  @extend .container;
  @include media($desktop) {
    padding-right: 216px;
  }
}

/*--- Container Component Rules ---*/

header .container {
  padding-right: 0;
  @include media($tablet) {
    padding: 0 $base-spacing-unit-small;
  }
}

.navigation--main .container {
  max-width: 732px; // Reduced to accommodate current grid
  padding: 0;
  margin: 0 $base-spacing-unit-small;
  @include media($desktop) {
    margin: 0 auto;
  }
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $grey-3;
}

/*--- Block Options ---*/

.block {
  @include block;
}

.block--deep {
  @include block--deep;
}

.block--offset {
  @include media($tablet) {
    padding-right: ($base-spacing-unit-extra-large * 6);
  }
}

.block--transparent {
  background-color: transparent;
  padding-right: $base-spacing-unit-medium;
}

.block--border {
  @include headings-margin-top(0);
  @include last-child;
  padding-top: ($base-spacing-unit-small - 1); // -1px to compensate for border height
  padding-bottom: ($base-spacing-unit-tiny - 1); // -1px to compensate for border height
  border-bottom: 1px solid $grey-3;
  border-top: 1px solid $grey-3;

  p {
    margin-bottom: $base-spacing-unit;
  }
}

.block--border__bottom {
  padding-bottom: ($base-spacing-unit-medium - 1); // -1px to compensate for border height
  border-bottom: 1px solid $grey-3;

  @include media($desktop) {
    padding-bottom: ($base-spacing-unit-large - 1); // -1px to compensate for border height
  }
}

/*--- Block Conditions ---*/

[class*="block"][class*="accent"] {
  border-top-style: solid;
  border-top-width: $base-spacing-unit;
}

.block--border + .block--border {
  border-top: none;
  padding-top: $base-spacing-unit-small;
  padding-bottom: ($base-spacing-unit-tiny - 1); // -1px to compensate for border height
}

/*--- Flex 2 Layout Options ---*/

.flex--2 {
  @include media($tablet) {
    @include flex(50%);
  }
}

.flex--2__1-2 {
  @include media($tablet) {
    @include flex(33.333%, 66.666%, 36px);
  }
}

.flex--2__2-1 {
  @include media($tablet) {
    @include flex(66.666%, 33.333%, 36px);
  }
}

/*--- Col Layout Options [Re] ---*/

.column--75,
.column--25 {
  display: inline-block;
  @include headings-margin-top(0);
  @include last-child;
}

.column--75 {
  width: 75%;
}

.column--25 {
  p {
    position: absolute;
    right: $base-spacing-unit-small;
    top: calc(50% - 25px); // 50% - (half the height of the column height - 1 (compensate for font height))
    text-align: right;
    @include media($desktop) {
      top: calc(50% - 32px); // 50% - (half the height of the column height - 2 (compensate for font height))
    }
    span {
      display:block;
    }
  }
}
