// Full Screen Container
.c-fs {
  @include outer-container(100%);
}

// Full Grid Width Container
.c-fg {
  @include outer-container;
}

// All Content Wrapper For Sticky Footer
// This wraps all page content apart from footer
.c-wrap {
  min-height: 100%;
  margin-bottom: -150px;
}

// Push Class For Sticky Footer
.footer-push {
  height: 150px; // Must equal footer height
}

// Standard Row
.row {
  @include row();
  padding-left: $base-spacing-unit-small;
  padding-right: $base-spacing-unit-small;
}
