// Variables inherited from 'settings/_spacing.scss'

// Container - Full Grid Width
.container {
  padding: 0 $base-spacing-unit-small;
  @include outer-container;
}

// Row - Full Width
.row {
  @include row();
}

// Row - Indented Bottom, Left & Right
.row--indent-full {
  @include row();
  padding-bottom: $base-spacing-unit-extra-large;
  padding-left: $base-spacing-unit-small;
  padding-right: $base-spacing-unit-small;
}

// Column - Layout 80:20
.column__float--left-80 {
  width: 75%;
  display: inline-block;
}

.column__float--right-20 {
  display: inline-block;
  text-align: right;
  p {
    position: absolute;
    right: $base-spacing-unit-small;
    top: calc(50% - 32px);
    span {
    display:block;
    margin-top: $base-spacing-unit;
    }
  }
}

.column__float--left-80,
.column__float--right-20 {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}
