// Base Page Dimensions
$max-width: 1218px;
$min-width: 320px;

// Breakpoints
$extra-small: 330px;
$small: 481px;
$medium: 768px;
$large: 1002px;
$extra-large: 1218px;


// Offset width
$container-max-width-large: 578px;
$hero-container-max-width-large: 628px;
$container-max-width-extra-large: 722px;

// Aside
$aside-large: 274px;
$aside-extra-large: 346px;

/*--- Avatar measurements ---*/

$image-size-small: 60px;
$image-size-medium: 95px;
$image-size-large: 130px;
