// Variables inherited from 'settings/_spacing.scss'

// Container - Full Grid Width
.container--full-grid {
  padding: 0 $base-spacing-unit-small;
  @include outer-container;
}

// Container - Full Screen
.container--full-screen {
  padding: 0 $base-spacing-unit-small;
  @include outer-container(100%);
}

// Row - Full Width
.row {
  @include row();
}

// Row - Indented Top & Bottom
.row--indent-full {
  @include row();
  padding-top: $base-spacing-unit-large;
  padding-bottom: $base-spacing-unit-extra-large;
  padding-left: $base-spacing-unit-small;
  padding-right: $base-spacing-unit-small;
  @include media($mobile) {
    padding-top: $base-spacing-unit-small;
  }
}

// Column - Float Layout 80:20
.column__float--left-80 {
  width: 80%;
  float: left;
  display: inline-block;
}

.column__float--right-20 {
  width: 20%;
  float: left;
  display: inline-block;
  text-align: right;
  p {
    position: absolute;
    right: $base-spacing-unit-medium;
    top: calc(50% - 29px);
    span {
    display:block;
    }
  }
}
