doctype html
html(lang="en")
  head
    title Parliamentary Digital Service
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="_public/stylesheets/main.css")
    link(rel="favicon", type="image/x-icon", href="_public/images/favicon.ico")
  body.no-js
    include elements/mixins.pug
    include elements/skip-content.pug
    +link()(id='top')
    main(id='content')
      .container--full-grid
        .row--indent-full
          h1 Parliamentary Digital Service
          h2 [Prototypes] - Members
          .block
            ul
              li #[+link('_public/prototypes/conservative-current.html', 'Conservative current')]
              li #[+link('_public/prototypes/contact.html', 'Contact')]
              li #[+link('_public/prototypes/front-page.html', 'Front Page')]
              li #[+link('_public/prototypes/house-commons-members-current.html', 'House of Commons Members')]
              li #[+link('_public/prototypes/house-lords-members-current.html', 'House of Lords Members Current')]
              li #[+link('_public/prototypes/party-current.html', 'Party Current')]
              li #[+link('_public/prototypes/people-id.html', 'People ID')]
          h3 Notes:
          .block
            ul
              li These are static html files
              li Links will either not be working or go to the correct location
              li Styles for desktop view are not complete
          //- Back to Top
          .block
            p #[+link('#top', 'Back to the top')]
