<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parliamentary Digital Service</title>
  <link rel="stylesheet" href="../_public/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a id="top"></a>
  <!-- Header -->
  <header>
    <div class="c-fs header">
      <div class="c-fg">
        <div class="row">
          <div class="header__logo"></div>
        </div>
      </div>
    </div>
  </header>
  <!-- Status -->
  <div class="c-fs status">
    <div class="c-fg">
      <div class="row">
        <p>This is a <a href="#"><strong>BETA</strong></a> website</p>
      </div>
    </div>
  </div>
  <!-- Back Button -->
  <a href="people-members-current.html">&lt; Previous page</a>
  <!-- Page Title -->
  <h1>Feedback</h1>

  <!-- Footer -->
  <footer>
    <div class="c-fs footer">
      <div class="c-fg">
        <div class="row">
          <div class="footer__logo"></div>
          <p>Parliament.uk <a href="#">digital blog</a></p>
          <p>Visit the <a href="#">current parliament.uk</a> website</p>
          <p><a href="#">Cookie Policy</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../_public/javascripts/main.js"></script>
</body>
</html>
