<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parliamentary Digital Service</title>
  <link rel="stylesheet" href="../_public/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Header -->
  <header>
    <div class="c-fs header">
      <div class="c-fg">
        <div class="row">
          <div class="header__logo"></div>
        </div>
      </div>
    </div>
  </header>
  <!-- Status -->
  <div class="c-fs status">
    <div class="c-fg">
      <div class="row">
        <p>This is a <a href="#"><strong>BETA</strong></a> website</p>
      </div>
    </div>
  </div>
  <!-- Back Button -->
  <a href="people-members-current.html">&lt; Previous page</a>
  <!-- Title -->
  <h1>Parties and groups</h1>
  <hr>
  <!-- Option Tags -->
  <a href="#">Bishops<span>&gt;</span></a>
  <a href="conservative-current.html">Conservative Party<span>&gt;</span></a>
  <a href="#">Labour<span>&gt;</span></a>
  <a href="#">Liberal Democrats<span>&gt;</span></a>
  <!-- Feedback Banner -->
  <div class="row">
    <div class="phase-banner">
      <p>Provide <a href="#">feedback</a> to help improve this website</p>
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="c-fs footer">
      <div class="c-fg">
        <div class="row">
          <div class="footer__logo"></div>
          <ul>
            <li>Parliament.uk <a href="#">digital blog</a></li>
            <li>Visit the <a href="#">current parliament.uk</a> website</li>
            <li><a href="#">Cookie Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="../_public/javascripts/main.js"></script>
</body>
</html>
