article + aside {
  margin: $base-spacing-unit-extra-large 0 $base-spacing-unit-small;
  width: 100%;

  @include media($medium) {
    margin-top: ($base-spacing-unit-large * 2);
  }
  @include media($large) {
    margin-left: $aside-unit-large;
    width: $aside-large;
  }
  @include media($extra-large) {
    margin-left: $aside-unit-extra-large;
    width: $aside-extra-large;
  }

  .block {
    @extend .theme--grey-4;
    padding: 0;
  }

  /* Print Styles */

  @media print {
    display: none;
  }
}

article footer aside {
  @include border-bottom;
}

.dropdown aside {
  @include block;
}

/*--- When JavaScript is enabled ---*/

.has-js .dropdown aside {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0 0 $base-spacing-unit-tiny rgba($grey-1, 0.2);
  margin-top: $base-spacing-unit-small;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: $base-spacing-unit-small;
    border: $base-spacing-unit-small solid transparent;
    border-top: 0;
    border-bottom-color: $white;
  }
}
