.bordered {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: $grey-3;
  &--lords {
    @extend .bordered;
    border-bottom-color: $lords-red;
  }
  &--commons {
    @extend .bordered;
    border-bottom-color: $commons-green;
  }
}
