// Global button properties

[class*="btn"] {
  border: none;
  @include border-radius(0, ($base-spacing-unit - 2), ($base-spacing-unit - 2), 0);
}

// Styled buttons based upon 'components/highlights.scss'

.btn--secondary {
  @extend .highlight--secondary;
  &:hover {
    background-color: (darken($secondary, 10%));
  }
}

// Button with animated loading icon and text

.btn--loading__icon {
  display: none;
}

.btn--loading__text {
  display: inline-block;
}

.btn--loading {
  cursor: not-allowed;

  @keyframes spinner {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .btn--loading__icon {
    // Pass in duration, timing function, delay, interation count and name
    @include css-animation(.8s, linear, 0s, infinite, spinner);
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: top;
  }

  .btn--loading__text {
    display: none;
  }
}
