/*--- Default Button Options [colour, background, background-hover] ---*/

[class*="theme--"] a.btn--primary,
.btn--primary {
  @include button($white, $button--primary, $button--primary__hover);
}
[class*="theme--"] a.btn--secondary,
.btn--secondary {
  @include button($deep-purple, $button--secondary, $button--secondary__hover);
}
[class*="theme--"] a.btn--deep-purple,
.btn--deep-purple {
  @include button($white, $button--deep-purple, $button--deep-purple__hover);
}
[class*="theme--"] a.btn--white,
.btn--white {
  @include button($deep-purple, $button--white, $button--white__hover, $grey-3);
}
[class*="theme--"] a.btn--mint,
.btn--mint {
  @include button($deep-purple, $mint, $mint--dark);
}
[class*="theme--"] a.btn--grey,
.btn--grey {
  @include button($grey-1, $grey-3, $grey-4);
}
[class*="theme--"] a.btn--disabled,
.btn--disabled {
  @include button($grey-1, $grey-4, $grey-4);
  pointer-events: none;
}

/*--- Inverse Button Options [colour, background, background-hover] ---*/

[class*="theme--"] a.btn--primary--inverse,
.btn--primary--inverse {
  @include button($button--primary, $white, lighten($button--primary, 50%), $button--primary);
}
[class*="theme--"] a.btn--secondary--inverse,
.btn--secondary--inverse {
  @include button($deep-purple--light, $white, lighten($button--secondary, 10%), $button--secondary);
}
[class*="theme--"] a.btn--deep-purple--inverse,
.btn--deep-purple--inverse {
  @include button($button--deep-purple, $white, lighten($button--deep-purple__hover, 40%), $button--deep-purple);
}

/*--- Ghost Button Options ---*/

[class*="theme--"] a.btn--ghost,
.btn--ghost {
  @include button($white, transparent, rgba($white, 0.12), $white);
}
[class*="theme--"] a.btn--ghost--inverse,
.btn--ghost--inverse {
  @include button($grey-1, transparent, rgba($grey-1, 0.12), $grey-1);
}

/*--- Toggle button ---*/

[class*="theme--"] a.btn--toggle,
.btn--toggle {
  position: relative;
  padding-right: $base-spacing-unit-small;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    border: $base-spacing-unit solid transparent;
    border-bottom-width: 0;
    border-top-color: $grey-1;
    margin-top: -($base-spacing-unit / 2);
  }
}

/*--- Themes Alternative Button Focus ---*/

.theme--mint,
.theme--warning,
.theme--success {
  a[class*="btn--"]:focus {
    box-shadow: 0 0 0 3px $grey-5;
  }
}

/*--- Size Button Options ---*/

[class*="status--"] a.btn--small,
[class*="theme--"] a.btn--small,
.btn--small {
  padding: 1px ($base-spacing-unit + 1);
}

.input-group [class*="btn--"] {
  margin: 0;
  border-left: none;
  border-width: 1px;
  border-radius: 0 4px 4px 0;
}
