.button-link {
  display: block;
  position: relative;
  padding: $base-spacing-unit-small;
  margin-bottom: $base-spacing-unit-small;
  border: 1px solid $soft-grey;
  @include border-radius($base-spacing-unit-tiny / 2);
  color: $night-rider;
  text-decoration: none;
  &:visited {
    color: $night-rider;
  }
  span {
    display:block;
    position: absolute;
    top: calc(50% - 6px);
    right:12px;
    height: 12px;
    width: 7px;
    background-image: url('../images/sprites-arrows.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }
}
