/*--- Card ---*/

.card,
[class*="card--"] {
  @include media($extra-small) {
    @include card;
  }
}

/*--- Card inline ---*/

.card--inline .card__details * {
  display: inline;
}

/*--- Card details ---*/

.card__details {
  @include first-child;
  @include last-child;
  @include media($extra-small) {
    flex: 1 1 0;
  }
  > * {
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
  }
}

.card__details + .card__details {
  @include media($extra-small) {
    max-width: 25%;
    align-self: center;
    text-align: right;
  }
}
