.card,
[class*="card--"] {
  @include media($smartphone) {
    @include card;
  }
}

.card__details {
  > * {
    margin-bottom: $base-spacing-unit;
  }
  @include last-child();
  @include media($smartphone) {
    flex: 1 1 0;
    > * {
      flex-basis: 100%;
      margin-bottom: $base-spacing-unit;
    }
  }
}
