// Basic (non js) slider styling
#content-slider {
  margin-bottom: $base-spacing-unit-small;
  padding-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $grey-4;
}

.slider-link {
  display: block;
  position: relative;
  padding-top: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit-small;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $grey-4;
  color: $grey-1;
  text-decoration: none;
}

.slider-content {
  padding-bottom: $base-spacing-unit-tiny;
  & > h3 {
    padding-bottom: $base-spacing-unit-small;
  }
  & > p {
    padding-bottom: $base-spacing-unit-small;
  }
  & > ul {
    margin-left: $base-spacing-unit;
    padding-bottom: $base-spacing-unit-small;
  }
}
// Javascript enabled slider styling
.has-js {
  .slider-link {
    padding-right: $base-spacing-unit-large;
    color: $links;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
    & > span.open,
    & > span.close {
      display:block;
      position: absolute;
      top: 16px;
      top: calc(50% - 7px);
      right: 12px;
      height: 14px;
      width: 20px; // Arrow Up & Down
      background: url('../images/sprites-arrows.png');
      background-image: url('../images/sprites-arrows.svg'), none;
      background-repeat: no-repeat;
    }
    & > span.open {
      background-position: 75% 50%; // Arrow Down
    }
    & > span.close {
      background-position: 33% 50%; // Arrow Up
    }
  }
}
