.contact-list {
  display: block;
  margin-bottom: $base-spacing-unit-small;
  & > dl {
    margin-top: $base-spacing-unit-tiny;
    padding: 0;
    & > dt {
      float: left;
      clear: left;
    }
    & > dt {
      font-weight: bold;
      padding-right: $base-spacing-unit-tiny;
    }
  }
}
