body > {
  footer {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: $deep-purple;
    padding-bottom: 60px;
  }

  /*--- Print Styles ---*/

  @media print {
    footer {
      display: none;
    }
  }
}
