.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px; // equal to body margin bottom
  padding-top: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit;
  background-color: $footer-background;
  color: $footer-text;
  a:link, a:hover, a:active, a:focus, a:visited, p {
  	color: $footer-text;
  }
  &__logo {
  	font-weight: bold;
    img {
      display: block;
      width: 118px;
      height: 22px;
    }
  }
  &__list {
    list-style: none;
    font-weight: normal;
    margin-left: 0;
  }
}
// Physical Print Styles
@media print {
  .footer {
    display: none;
  }
}
