// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

header {
  padding-top: ($base-spacing-unit-small - 3); // -3px to compensate for border height
  padding-bottom: ($base-spacing-unit-small - 1); // -1px to compensate for border height
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: $grey-3;
  background-color: $white;
	.container {
		line-height: 0;
	}
	.logo{
		height: 48px;
		width: auto;
	}
}

@include media($desktop) {
	header {
	  .logo {
		  height: 54px;
	  }
	}
}

// Physical Print Styles

@media print {
  header {
    display: none;
  }
}
