// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.highlight__box {
  margin-bottom: $base-spacing-unit-small;
  background-color: $primary-soft;
  padding-top: $base-spacing-unit-small;
  padding-right: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit-small;
  padding-left: $base-spacing-unit-small;
  border-left-width: $base-spacing-unit-tiny;
  border-left-style: solid;
  border-left-color: $primary;
  color: $grey-1;
  a {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $grey-1;
    }
  }
  & + .highlight__box--secondary {
    margin-bottom: 0;
  }
  & + .highlight__box--caution {
    margin-bottom: 0;
  }
  @include media($desktop) {
    padding-right: $base-spacing-unit-medium;
    padding-left: $base-spacing-unit-medium;
  }
}

.highlight__box--secondary {
  @extend .highlight__box;
  background-color: $secondary-soft;
  border-left-color: $secondary;
  & + .highlight__box {
    margin-bottom: 0;
  }
}

.highlight__box--caution {
  @extend .highlight__box;
  background-color: $caution-soft;
  border-left-color: $caution;
  & + .highlight__box {
    margin-bottom: 0;
  }
}
