// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.highlight__box {
  margin-top: $base-spacing-unit-small;
  margin-bottom: $base-spacing-unit-small;
  padding: $base-spacing-unit-small;
  background-color: $primary-soft;
  border-left-width: $base-spacing-unit;
  border-left-style: solid;
  border-left-color: $primary;
  color: $grey-1;
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
  a {
    &:link,
    &:visited {
      color: $grey-1;
    }
    &:hover {
      color: $navy;
    }
  }
  & + .highlight__box--secondary,
  & + .highlight__box--caution {
    margin-bottom: 0;
  }
}

.highlight__box--secondary {
  @extend .highlight__box;
  background-color: $secondary-soft;
  border-left-color: $secondary;
  a:focus {
    background-color: $primary-soft;
    outline-color: $primary-soft;
  }
  & + .highlight__box {
    margin-bottom: 0;
  }
}

.highlight__box--caution {
  @extend .highlight__box;
  background-color: $caution-soft;
  border-left-color: $caution;
  & + .highlight__box {
    margin-bottom: 0;
  }
}
