// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

// Highlight Base Settings
[class*="highlight--"],
[class*="highlight__"] {
  width: 100%;
  display: inline-block;
  padding: $base-spacing-unit-medium 0;

  > :first-child,
  .container > :first-child {
    margin-top: 0;
  }
  > :last-child,
  .container > :last-child {
    margin-bottom: 0;
  }
}

// Highlight colours
.highlight--default {
  @include highlight-color($navy, $navy, $white, $primary-soft);
}
.highlight--primary {
  @include highlight-color($primary-soft, $primary, $grey-1, $black);
}
.highlight--secondary {
  @include highlight-color($secondary-soft, $secondary, $grey-1, $black);
}
.highlight--caution {
  @include highlight-color($caution-soft, $caution, $grey-1, $black);
}
.highlight--warning {
  @include highlight-color($warning-soft, $warning, $grey-1, $black);
}
.highlight--success {
  @include highlight-color($success-soft, $success, $grey-1, $black);

  a:focus {
    background-color: $grey-4;
    outline-color: $grey-4;
  }
}

// Highlight box
.highlight__box {
  margin-top: $base-spacing-unit-small;
  margin-bottom: $base-spacing-unit-small;
  padding: $base-spacing-unit-small;
  border-left-width: $base-spacing-unit;
  border-left-style: solid;
  background-color: $grey-4;

  & + .highlight__box {
    margin-top: 0;
  }
}

// Highlight status
.highlight__status {
  padding: $base-spacing-unit-tiny 0;
  background-color: $grey-4;
}

@include media($desktop) {
  .section--primary[class*=" highlight--"] {
    padding: ($base-spacing-unit-medium * 2) 0;

    .container {
      padding-right: ($base-spacing-unit-extra-large * 6);
    }
  }
}
