// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.highlight__status {
  @extend .block;
  background-color: $navy;
  padding-top: $base-spacing-unit-tiny;
  padding-bottom: $base-spacing-unit-tiny;
  color: $white;
  p {
    margin-bottom: 0;
  }
  a {
    &:link,
    &:visited {
      color: $white;
    }
    &:hover {
      color: $primary-soft;
      text-decoration: underline;
    }
  }
}
