.highlight__status {
  @extend .block;
  background-color: $beta-banner;
  color: $headings;
  a {
    &:link,
    &:visited {
      color: $headings;
      text-decoration: underline;
    }
    &:hover,
    &:active,
    &:focus {
      color: $headings;
      text-decoration: none;
    }
  }
}
