// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

// Highlight Base Settings
[class*="highlight--"],
[class*="highlight__"] {
  width: 100%;
  display: inline-block;
  padding: $base-spacing-unit-medium 0;

  > :first-child,
  .container > :first-child {
    margin-top: 0;
  }
  > :last-child,
  .container > :last-child {
    margin-bottom: 0;
  }
}

// Highlight box
.highlight__box {
  margin-top: $base-spacing-unit-small;
  margin-bottom: $base-spacing-unit-small;
  padding: $base-spacing-unit-small;
  border-left-width: $base-spacing-unit;
  border-left-style: solid;
  background-color: $grey-4;

  & + .highlight__box {
    margin-top: 0;
  }
}

// Highlight status
.highlight__status {
  padding: $base-spacing-unit-tiny 0;
  background-color: $grey-4;
}

// Highlight colours - Pass in colours for (background, border, typography, hover, line-break)
.highlight--default {
  @include highlight-color($navy, $grey-3, $white, $primary-soft, $white);
}
.highlight--primary {
  @include highlight-color($primary, $primary-soft, $white, $primary-soft, $primary-soft);
}
.highlight--primary__soft {
  @include highlight-color($primary-soft, $primary, $grey-1, $black, $primary);
}
.highlight--secondary {
  @include highlight-color($secondary, $secondary-soft, $navy, $black, $secondary-soft);
}
.highlight--secondary__soft {
  @include highlight-color($secondary-soft, $secondary, $grey-1, $black, $secondary);
}
.highlight--caution {
  @include highlight-color($caution, $caution-soft, $navy, $black, $caution-soft);
}
.highlight--caution__soft {
  @include highlight-color($caution-soft, $caution, $navy, $black, $caution);
}
.highlight--warning {
  @include highlight-color($warning, $warning-soft, $white, $warning-soft, $warning-soft);
}
.highlight--warning__soft {
  @include highlight-color($warning-soft, $warning, $navy, $black, $warning);
}
.highlight--success {
  @include highlight-color($success, $success-soft, $navy, $black, $success-soft);
}
.highlight--success__soft {
  @include highlight-color($success-soft, $success, $navy, $black, $success);
}
.highlight--secondary,
.highlight--secondary__soft
.highlight--success,
.highlight--success__soft {
  a:focus {
    background-color: $grey-4;
    outline-color: $grey-4;
  }
}

@include media($desktop) {
  .section--primary[class*=" highlight--"] {
    padding: ($base-spacing-unit-medium * 2) 0;

    .container {
      padding-right: ($base-spacing-unit-extra-large * 6);
    }
  }
}
