.highlight__box {
  margin-bottom: $base-spacing-unit-small;
  padding-top: $base-spacing-unit-small;
  padding-right: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit-small;
  padding-left: $base-spacing-unit-small;
  background-color: $highlight-primary-soft;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: $highlight-primary-bold;
  color: $paragraph;
  a {
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      color: $paragraph;
    }
  }
}

.highlight__box--secondary {
	@extend .highlight__box;
	background-color: $highlight-secondary-soft;
	border-left-color: $highlight-secondary-bold;
}
.highlight__box--caution {
	@extend .highlight__box;
	background-color: $highlight-caution-soft;
	border-left-color: $highlight-caution-bold;
}
