.highlight__status {
  @extend .block;
  background-color: $bright-blue;
  color: white;

  a {
    color: white;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: white;
    }
  }
}
