.atoz-letters {
  //@include outer-container;
  @include clearfix;
  list-style-type: none;
  margin-top: $base-spacing-unit-tiny;
  margin-bottom: $base-spacing-unit;
  margin-left: 0;
  & > p {
    padding-bottom: $base-spacing-unit-tiny;
  }
  & > li {
    display: list-item;
    float: left;
    width: 3.83%;
    margin: 0;
    padding: 0;
    background-color: $soft-grey;
    color: $night-rider;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
    & > a {
      display: block;
      padding: $base-spacing-unit-tiny;
      color: $black;
      text-decoration: none;
    }
    @include media($mobile) {
      width: 13%;
    }
  }
  & > li.active,
  & > li:hover {
    background-color: $night-rider;
    & > a {
      color: $white;
    }
  }
}
