.atoz-letters {
  @include outer-container;
  list-style-type: none;
  margin: $base-spacing-unit-tiny 0 $base-spacing-unit-small;

  li {
    @include span-columns (.905);

    background-color: $white;
    border: solid 1px $black;
    display: list-item;
    float: left;
    margin-bottom: $base-spacing-unit-tiny;
    padding: 0;
    text-align: center;

    a {
      color: $black;
      display: block;
      padding: $base-spacing-unit-small;
      text-decoration: none;
    }

    @include media($mobile) {
      //@include span-columns (.95);
      width: 12%;
      background: #c1c1c1;
      font-weight: bold;
      color: #333;
      border: none;
      margin-right: 4px;
      margin-bottom: 4px;
      a {
        padding: 5px;
      }
    }
  }

  li.active,
  li:hover {
    background-color: $night-rider;
    a {
      color: $white;
    }
  }
}
