// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.line-break-heavy {
  height: 4px;
  width: 60px;
  margin-top: ($base-spacing-unit-medium - 2); // -2px to compensate for divider height
  margin-bottom: ($base-spacing-unit-medium - 2); // -2px to compensate for divider height
  background-color: $navy;
}
