// Ordered / Unordered Lists - Lists Of Things
.list {
  @extend .block;
  position: relative;
  margin: 0;
  list-style: none;
  ol, ul {
    margin: 0;
    list-style: none;
  }
  h2,h3,h4,h5,h6 {
  	font-size: inherit;
    line-height: inherit;
    font-weight: normal;
  }
  &:after {
  	content: "";
	  display: table;
	  clear: both;
  }
}

.list__item {
  @extend .list;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $grey-4;
  color: $grey-2;
  &:first-of-type {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $grey-4;
  }
}

.list__item--secondary {
	@extend .list;
	background: $white;
	padding: $base-spacing-unit-medium;
	&:not(:last-child){
		margin-bottom: $base-spacing-unit-tiny;
	}
}

.list__item--borderless-top {
  @extend .list__item;
  &:first-of-type {
    border-top-width: 0;
    border-top-style: none;
    border-top-color: transparent;
    padding-top: 0;
  }
}

// Definition List - Horizontally Aligned
.list__definition {
  @extend .block;
  & dt {
    float: left;
    clear: left;
    padding-right: $base-spacing-unit-tiny;
  }
  & dt, dd {
    @include fontsize(16, 26);
  }
  @include media($desktop) {
    dt, dd {
      @include fontsize(18, 36);
    }
  }
}

// Definition List - Nested Within Normal List
.list__definition--list-item {
  @extend .list__definition;
  padding-top: 0;
  padding-bottom: 0;
}

// BURN CODE
.list-details {
	width: 80%;
	float: left;
	display: inline-block;
}

.list-count {
	width: 20%;
	float: left;
	display: inline-block;
	text-align: right;
	position: absolute;
	right: $base-spacing-unit-medium;
	top: calc(50% - 26px);
	p {
    font-size: 30px;
    font-weight: bold;
    span {
    	font-size: 18px;
    	display:block;
    	font-weight: normal;
    }
	}
}
