// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

//  List Core Settings

ul, ol {
  padding: 0;
  margin: 0 0 $base-spacing-unit-small $base-spacing-unit-small;

  li {
    padding: 0;
    margin: 0;
  }
}
dl, dt, dd {
  margin: 0;
  padding: 0;
}

// List Base Settings

.list {
  list-style: none;
  margin: $base-spacing-unit-tiny 0 $base-spacing-unit-small;

  ol, ul {
    margin: 0;
    list-style: none;
  }
  li {
    position: relative;

    * {
      margin-bottom: $base-spacing-unit;
    }
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
    &.active {
      color: $navy;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

// List Options

.list--inline {
  @extend .list;
  margin: 0;

  li {
    margin: 0;
    padding: 0 6.45px;
    display: inline-block;
  }
}
.list--box {
  @extend .list;

  li {
    background: $white;
    padding: $base-spacing-unit-small;
    margin-bottom: $base-spacing-unit;
  }
}
.list--pipe {
  @extend .list;

  li {
    border-bottom: solid 1px $grey-3;
    padding: $base-spacing-unit-tiny 0 $base-spacing-unit-tiny - 1 0;
  }
  li:first-of-type {
    border-top: solid 1px $grey-3;
  }
}
.list--definition {
  & dt {
    float: left;
    padding-right: $base-spacing-unit-tiny;
  }
  &:first-of-type {
    margin-top: $base-spacing-unit-small;
  }
  &:last-of-type {
    margin-bottom: $base-spacing-unit-small;
  }
}

// List Combination Settings

[class*="list"] .list--definition {
  margin-bottom: $base-spacing-unit-tiny;

  & * {
    margin-bottom: 0;
  }
  &:first-of-type {
    margin-top: $base-spacing-unit-small;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

// Footer list

footer .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
