.map {
	display: block;
	height: 222px;
	@include media($desktop) {
		height: 292px;
	}
	margin-bottom: $base-spacing-unit-small;
	width: 100%;

	.leaflet-bar {
		box-shadow: 0 1px 5px rgba(55,49,81,0.4);

		a {
			background-color: $grey-5;
			@include fontsize(18);
			@include links(
				$blue, 			// a:link colour
				none, 			// a:link decoration
				$blue, 			// a:visited color
				inherited, 	// a:hover color
				$blue, 			// a:active color
				none 				// a:active decoration
			);

			&:hover {
				text-decoration: none;
			}

			&:first-child {
				border-bottom: 1px solid #cbc9cd;
			}
		}
	}
}
