// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'

.navigation {
  @include clearfix;
  list-style: none;
  margin-top: $base-spacing-unit-small;
  margin-left: 0;
  & > li {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 0;
    padding: 0 6.45px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
  & li.active > a {
    color: $navy;
    text-decoration: none;
    font-weight: bold;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.navigation-control {
  margin: 0;
}

.navigation-control--left {
  float: left;
  margin-right: $base-spacing-unit-small;
}

@include media($desktop) {
  .navigation--number {
    text-align: center;
    padding: 0 ($base-spacing-unit-extra-large * 3);
  }
  .navigation-control--right {
    float: right;
  }
}
