// Variables inherited from 'settings/_spacing.scss' and 'settings/_colours.scss'
// Mixins from 'tools/_mixins.scss'

.navigation--main {
	@include links(
		$black, // a:link colour
		none, // a:link decoration
		$black, // a:visited color
		$black, // a:hover color
		$black, // a:active color
		none, // a:active decoration
		$secondary, //  a:focus background-color
		$navy, // a:focus color
		none // a:focus decoration
	);
	@include navigation($grey-4, 12px, 12px);
	ol,
	ul {
		li {
			padding: 0 $base-spacing-unit-small;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		li a {
			&:hover {
				text-decoration: none;
			}
			&:hover {
				border-bottom: 2px solid $black;
			}
		}
	}
}

.navigation--letter {
	@include navigation(none, 0, 0);
}

.navigation--number {
	@include navigation(none, 0, 0);
}

.navigation-control--left {
	@include navigation-control(left, 0, $base-spacing-unit-small);
}


@include media($desktop) {
  .navigation--number {
    text-align: center;
  }
	.navigation-control--right {
		@include navigation-control(right, $base-spacing-unit-small, 0);
	}
}

@media print {
  nav {
    display: none;
  }
}
