/*--- Navigation Main ---*/

.navigation--main {
  @extend .list--inline;

  ol, ul {
    @include clearfix;
    list-style: none;
    margin-left: (- $base-spacing-unit);
  }
  li {
    padding: 0 ($base-spacing-unit - 3);
  }
}

/*--- Navigation Letter ---*/

.navigation--letter {
  @include clearfix;

  ol {
    margin: 0;
  }
  li {
    min-width: 42px;
    margin: 0 ($base-spacing-unit / 2) ($base-spacing-unit / 2) 0;
    background-color: none;
    color: $grey-1;
  }
  li:first-child {
    min-width: 87px; // 2 button width including the margin to the left of first
  }
  li.active {
    background-color: $purple;
    color: $white;
    font-weight: 500;
  }
  li span {
    padding: ($base-spacing-unit-tiny - 3px) 0;
    @include media($desktop) {
      padding: ($base-spacing-unit + 2px) 0;
    }
  }
}

/*--- Navigation Letter & Number ---*/

.navigation--letter,
.navigation--number {
  @extend .list--inline;

  ol, ul {
    list-style: none;
  }
  li {
    padding: 0;
    text-align: center;
    text-transform: capitalize;
  }
  span {
    min-width: 24px;
  }
}

/*--- Navigation Number Controls ---*/

.navigation-control--left {
  @include navigation-control(left, - $base-spacing-unit-tiny, $base-spacing-unit-tiny);
}
.navigation-control--right {
  float: none;
  display: inline-block !important;
}

@include media($desktop) {
  .navigation--main {
    ul {
      margin-left: (- $base-spacing-unit-small);
    }
    li {
      padding: 0 ($base-spacing-unit-small - 3);
    }
  }
  .navigation--number {
    text-align: center;

    ol {
      margin: 0;
      display: inline-block;
    }
  }
  .navigation-control--right {
    @include navigation-control(right, $base-spacing-unit-small, - $base-spacing-unit-tiny);
  }
}


/*--- Print ---*/

@media print {
  nav {
    display: none;
  }
}
