.navigation__letter {
  @include clearfix;
  list-style: none;
  margin-top: $base-spacing-unit-small;
  margin-left: 0;
  & > li {
    display: inline-block;
    width: 11.1111111111%;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 0;
    float: left;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    @include media($desktop) {
      //width: 7.69230769231%;
      width: 3.84615384615%;
    }
  }
  & li.active > a {
  	color: $headings;
  	text-decoration: none;
  	font-weight: bold;
  }
  &:after {
  	content: "";
	  display: table;
	  clear: both;
  }
}
