/*--- Navigation Main, Letter & Number ---*/
.navigation--main ul,
.navigation--letter ol,
.navigation--number ol {
  @include list--inline;

  span {
    display: block;
  }
}

/*--- Navigation Main ---*/

.navigation--main ul {
  border-bottom: 1px solid $grey-3;
  margin: 0;

  li {
    margin: 0;
    padding: 0 3px;
    @include media($desktop) {
      padding: 0 ($base-spacing-unit-tiny + 3px);
    }

    &:nth-child(1) {
      margin-left: -8px;
      @include media($desktop) {
        margin-left: -$base-spacing-unit-small;
      }
    }
  }
}

/*--- Navigation Letter ---*/

.navigation--letter ol {
  li {
    color: $grey-1;
    min-width: 42px;
    background-color: transparent;
    margin: 0 ($base-spacing-unit / 2) ($base-spacing-unit / 2) 0;
  }
  li:first-child {
    min-width: 87px; // 2x button width including the margin to the left of first
  }
  li.active {
    background-color: $purple;
    color: $white !important;
    font-weight: 500;
  }
  li span {
    padding: ($base-spacing-unit-tiny - 3px) 0;
    @include media($desktop) {
      padding: ($base-spacing-unit + 2px) 0;
    }
  }
}

/*--- Navigation Number ---*/

.navigation--number ol {
  margin: 0 (-$base-spacing-unit-tiny);

  @include media($desktop) {
    margin: 0;
    justify-content: center;
  }
  li {
    margin: 0;
  }
  li span {
    padding: 6px 12px;
  }
}

/*--- Navigation Letter & Number ---*/

.navigation--letter,
.navigation--number {
  li {
    text-align: center;
    text-transform: capitalize;
  }
}

/*--- Print ---*/

@media print {
  nav {
    display: none;
  }
}
