.result-list {
  margin: 0;
  list-style: none;
  ul {
    margin: inherit;
    list-style: inherit;
  }
  .result-item {
    padding: $base-spacing-unit-tiny;
    border-top: 1px solid $grey-4;
    color: $grey-2;
    a {
      font-weight: bold;
    }
    &:last-child {
      border-bottom: 1px solid $grey-4;
    }
  }
}
