.timeline  {
  padding: 0 0 0 $base-spacing-unit-small;
  position: relative;
  margin-bottom: $base-spacing-unit-tiny;

  &:before {
    position: absolute;
    content: '';
    background-color: $grey-1;
    width: 1px;
    height: calc(100% - 21px);
    left: -1px;
    top: 10px;
  }
}
