/*--- Toggles ---*/

.toggle--menu {
  position: relative;
  z-index: 2;
  margin-bottom: $base-spacing-unit-small;
}

.has-js .toggle--menu > .block {
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: $base-spacing-unit-large;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: ($base-spacing-unit-small * 6);
    border: $base-spacing-unit-small solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
  }
}

body:not(.has-js) .toggle--menu > .block {
  display: block;
}

/*--- Functional ---*/

[data-toggle="content"]:not(.open) {
  display: none;
}
