/*--- UK Parliament Status Colours ---*/
$caution: 											#FBCF20;
$caution--dark: 								#E0B507;
$caution--light: 								#FEF3C7;

$success:	 											#00B95D;
$success--dark: 								#009049;
$success--light: 								#BFEDD6;

$warning:	 											#DE2E32;
$warning--dark: 								#A72326;
$warning--light: 								#F7CBCC;
