/*--- UK Parliament Definition Colours ---*/

// Link
$link:													#2B57AB;
$link-hover:										#7592C8;
$link-visited: 									#7C1389;

// Buttons
$button--primary:								#2B57AB;
$button--primary__hover:				#214282;

$button--secondary:							#BFCDE6;
$button--secondary__hover:			#9AB0D8;

$button--white:									$white;
$button--white__hover:					$grey-4;

$button--deep-purple:						$deep-purple;
$button--deep-purple__hover:		$deep-purple--light;

// Houses
$commons:												#006E46;
$commons--dark:									#004229;

$lords:													#B50938;
$lords--dark:										#730021;

// Parties
$conservatives:									#0087DC;
$conservatives--dark:						#0066A6;
$conservatives--light:					#B2DBF4;

$labour:												#E41D13;
$labour--dark:									#BB0900;
$labour--light:									#F7BBB8;

$lib-dems:											#FDBB30;
$lib-dems--dark:								#E59F0B;
$lib-dems--light:								#FEEAC0;

$snp:														#FFF48B;
$snp--dark:											#EEDE4E;
$snp--light:										#FFFBD1;

$bishops:												#57197C;
$bishops--dark:									#360851;
$bishops--light:								#CCBAD7;

$crossbench: 										#007B87;
$crossbench--dark:							#00565F;
$crossbench--light:							#B2D7DB;
