// PDS Base Colours
$black: #000;
$white: #FFF;
$commons-green: #00BA56;
$lords-red: #C90D38;
$bright-blue: #165FEA;
$blizzard-blue: #A3DFED;

// PDS Grey Palette
$night-rider: #333333;
$hard-grey: #9B9B9B;
$dark-grey: #C1C1C1;
$light-grey: #F4F4F4;
