// PDS Base Colours
$black: #000;
$white: #FFF;
$commons-green: #00BA56;
$lords-red: #C90D38;
$bright-blue: #165FEA;
$purple-heart: #5D2EB4;
$blizzard-blue: #A3DFED;

// PDS Grey Palette
$grey-1: #333333; // Nightrider
$grey-2: #5C5C5C; // Dark Grey
$grey-3: #9B9B9B; // Hard Grey
$grey-4: #C1C1C1; // Soft Grey
$grey-5: #F4F4F4; // Light Grey

// Branding Palette

$header-background: #FFFFFF;
$header-bottom-border: #CBC9CD;
$beta-banner: #FBCF20;
$main-background: #F8F7F7;
$headings: #373151;
$dividers: #CBC9CD;
$links: #2B57AB;
$links-hover: #373151;
$links-active: #2B57AB;
$links-visited: #7C1389;

$paragraph: #4D4D4D;
$highlight-primary-bold: #5F2DB4;
$highlight-primary-soft: #E7DFF4;
$highlight-secondary-bold: #96DCBE;
$highlight-secondary-soft: #DFF4EB;
$highlight-caution-bold: #FBCF20;
$highlight-caution-soft: #FEF3C7;
$footer-background: #373151;
$footer-text: #F8F7F7;
