@import 'colours__core';
@import 'colours__definition';
@import 'colours__rich';
@import 'colours__status';
@import 'colours__vibrant';

// Legacy colours still required
$black: 					#000000;
$navy: 						#373151;
$blue: 						#2B57AB;
$blue-soft: 			#7592C8;

$primary: 				#5F2DB4;
$primary-soft: 		#E7DFF4;
$secondary: 			#96DCBE;
$secondary-soft: 	#DFF4EB;

$caution-soft: 		#FEF3C7;
$warning-soft: 		#F7CBCC;
$success-soft: 		#BFEDD6;