/*--- UK Parliament Rich Colours ---*/

$rich__ochre:										#F0E4BB;
$rich__ochre--dark:							#CCC29F;
$rich__ochre--light:						#F9F4E4;

$rich__olive-green:							#777D1A;
$rich__olive-green--dark:				#5B5F14;
$rich__olive-green--light:			#E4E5D1;
