// Create uniform spacing value by setting it equal to line height set in the fonts.scss file
$base-spacing-unit: ($base-font-size * $base-line-height) + 0px;

// Using base spacing value create consistent spacing variations
$base-spacing-unit-tiny: round($base-spacing-unit / 4);
$base-spacing-unit-small: round($base-spacing-unit / 2);
$base-spacing-unit-large: round($base-spacing-unit * 2);
$base-spacing-unit-huge: round($base-spacing-unit * 4);
