[class*="theme"] {
	@include first-child__last-child;
}

/*--- Theme includes [background-colour, typography, link-colour, colour-hover] ---*/

.theme__deep-purple {
	@include theme($deep-purple, $grey-5, $grey-5, $grey-3);
}
.theme__deep-purple--light {
	@include theme($deep-purple--light, $grey-5, $grey-5, $grey-4);
}
.theme__grey-1 {
	@include theme($grey-1, $grey-5, $grey-5, $grey-4);
}
.theme__grey-2 {
	@include theme($grey-2, $grey-5, $grey-5, $grey-4);
}
.theme__grey-3 {
	@include theme($grey-3, $grey-1, $link, $link-hover);
}
.theme__grey-4 {
	@include theme($grey-4, $grey-1, $link, $link-hover);
}
.theme__grey-5 {
	@include theme($grey-5, $grey-1, $link, $link-hover);
}
.theme__mint {
	@include theme($mint, $grey-1, $deep-purple, $grey-2);
}
.theme__mint--light {
	@include theme($mint--light, $grey-1, $deep-purple, $grey-2);
}
.theme__mint--dark {
	@include theme($mint--dark, $grey-5, $grey-5, $mint--light);
}
.theme__purple {
	@include theme($purple, $grey-5, $grey-5, $purple--light);
}
.theme__purple__dark {
	@include theme($purple--dark, $grey-5, $grey-5, $purple--light);
}
.theme__purple--light {
	@include theme($purple--light, $grey-1, $deep-purple, $grey-2);
}
.theme__white {
	@include theme($white, $grey-1, $link, $link-hover);
}
.theme__caution--light {
	@include theme($caution--light, $grey-1, $deep-purple, $grey-2);
}
.theme__success--light {
	@include theme($success--light, $grey-1, $deep-purple, $grey-2);
}
.theme__warning--light {
	@include theme($warning--light, $grey-1, $deep-purple, $grey-2);
}

.theme__mint,
.theme__warning--light,
.theme__success--light {
	a:focus {
		background: $grey-5;
		outline: 3px solid $grey-5;
	}
}
