/*--- Theme Backgrounds [background-colour, typography, link-colour, accent-colour] ---*/

.block,
.hero,
.hint,
.status--banner,
.status--highlight {
  &.theme--deep-purple {
    @include theme($deep-purple, $grey-5, $grey-5, $grey-3, $deep-purple--light);
  }
  &.theme--deep-purple--light {
    @include theme($deep-purple--light, $grey-5, $grey-5, $grey-3, $deep-purple);
  }
  &.theme--grey-3 {
    @include theme($grey-3, $grey-1, $link, $link-hover, $grey-1);
  }
  &.theme--grey-4 {
    @include theme($grey-4, $grey-1, $link, $link-hover, $grey-1);
  }
  &.theme--grey-5 {
    @include theme($grey-5, $deep-purple, $link, $link-hover, $deep-purple);
  }
  &.theme--mint {
    @include theme($mint, $grey-1, $deep-purple, $grey-2, $mint--light);
  }
  &.theme--mint--light {
    @include theme($mint--light, $grey-1, $deep-purple, $grey-2, $mint);
  }
  &.theme--purple {
    @include theme($purple, $grey-5, $grey-5, $purple--light, $purple--light);
  }
  &.theme--purple--light {
    @include theme($purple--light, $grey-1, $deep-purple, $grey-2, $purple);
  }
  &.theme--white {
    @include theme($white, $grey-1, $link, $link-hover, $mint);
  }

  /*--- Theme Status Colours ---*/

  &.theme--caution {
    @include theme($caution--light, $grey-1, $deep-purple, $grey-2, $caution);
  }
  &.theme--caution--light {
    @include theme($caution, $grey-1, $deep-purple, $grey-2, $caution--light);
  }
  &.theme--success {
    @include theme($success--light, $grey-1, $deep-purple, $grey-2, $success);
  }
  &.theme--warning {
    @include theme($warning--light, $grey-1, $deep-purple, $grey-2, $warning);
  }
  &.theme--vibrant--yellow {
    @include theme($vibrant__yellow, $grey-1, $deep-purple, $grey-2, $vibrant__yellow--dark);
  }
}
