ol.list--pipe
	each object in [{name: 'Nigel Adams', constituency: 'MP for Selby & Ainsty', party: 'Conservative'},{name: 'Adam Afriyie', constituency: 'MP for Windsor', party: 'Conservative'}]
		li
			.list--details
				h2 #[+link('#', object.name)]
				p= object.constituency
				p= object.party
