<form class="filter-box" name="filter-box">
  <fieldset>
    <legend> Filter results</legend>
    <label for="house-select">Select House</label>
    <select id="house-select">
      <option selected="selected" value="">
        Choose a house
      </option>
      <option value="house_of_commons">
        House of Commons
      </option>
      <option value="house_of_lords">
        House of Lords
      </option>
    </select>
    <label for="party-select">Select Party</label>
    <select id="party-select">
      <option selected="selected" value="">
        Choose a party
      </option>
      <option value="conservative">
        Conservative
      </option>
      <option value="labour">
        Labour
      </option>
      <option value="liberal_democrats">
        Liberal Democrats
      </option>
    </select>
    <label for="gender-select">Select Gender</label>
    <select id="gender-select">
      <option selected="selected" value="">
        Choose a gender
      </option>
      <option value="male">
        Male
      </option>
      <option value="female">
        Female
      </option>
    </select>
  </fieldset>
  <input type="submit" name="filter" value="filter">
</form>
