/*--- Import Settings ---*/

@import 'settings/colours';
@import 'settings/fonts';
@import 'settings/spacing';
@import 'settings/mixins';
@import 'objects/grid-settings';

/*--- Import Components ---*/

@import 'components/highlight';


/*--- Status Banner Beta ---*/

.status--banner__beta {
  @include status--banner;

  .container {
    @include last-child;
    display: flex;
    flex-wrap: wrap;
  }

  .hint {
    align-self: flex-start;
    margin-right: $base-spacing-unit-tiny;
  }

  ul {
    flex: 1;
    flex-wrap: wrap;
    li {
      margin: 0;
      @media (max-width: $medium - 1) {
        margin-bottom: $base-spacing-unit;
      }
    }
    li:first-of-type {
      flex: 1 90%;
       @include media($medium) {
        flex: 1 auto
      }
    }
  }

  /* Print Styles */

  @media print {
    display: none;
  }
}

/*--- Navigation number ---*/

section .navigation--number {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .container {
    display: none;
    align-items: unset;
    justify-content: unset;
  }
}

/*--- Article wrapper [current article structure] ---*/

.article--wrapper .container,
.section--wide .container,
.container {
	position: relative;
	padding: 0 $base-container-unit-small;
	margin: 0 auto;
	width: 100%;

	@include media($medium) {
		width: $medium;
	}
	@include media($large) {
		padding: 0 $base-container-unit-large;
		width: $large;
	}
	@include media($extra-large) {
		width: $extra-large;
	}
}

.article--wrapper .container {
	@include media($medium) {
		display: flex;
		flex-wrap: wrap;
	}
}

.article--wrapper article {
	flex: 1;
	margin-top: 60px;
}

.article--wrapper header {
	padding: 0;
}
