//- Section Management
mixin section--primary(highlight)
	if thingPage
		.section--primary(class=highlight)#content
			.container
				if vars
					block vars
				else
					block
	else
		.section--primary(class=highlight)
			.container
				if vars
					block vars
				else
					block

mixin section--secondary()
	if thingPage
		section
			.container
				if vars
					block vars
				else
					block
	else
		section#content
			.container
				if vars
					block vars
				else
					block

mixin section--other()
	section
		.container
			if vars
				block vars
			else
				block
