//- Section Management
mixin section--primary(highlight)
  if thingPage
    .section--primary(class=highlight, tabindex=0)#content
      .container
        if vars
          block vars
        else
          block
  else
    .section--primary(class=highlight)
      .container
        if vars
          block vars
        else
          block

mixin section--secondary()
  if thingPage
    section
      .container
        if vars
          block vars
        else
          block
  else
    section(tabindex=0)#content
      .container
        if vars
          block vars
        else
          block

mixin section--other()
  section
    .container
      if vars
        block vars
      else
        block
