ul.list--inline
  li.visually-hidden(aria-hidden='true')
    include ../icons/print.svg
    +link('#', 'Print page').btn--print
  li
    include ../icons/download.svg
    +link('#', 'Download as PDF')
  li
    include ../icons/share.svg
    +link('#', 'Share')
