ul.list--inline
  li.visually-hidden(aria-hidden='true')
    .list--details
      include ../icons/print.svg
      +link('#', 'Print page').btn--print
  li
    .list--details
      include ../icons/download.svg
      +link('#', 'Download as PDF')
  li
    .list--details
      include ../icons/share.svg
      +link('#', 'Share')
