head
  title Parliamentary Digital Service
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  if pugin
    link(rel="stylesheet", href="/stylesheets/main.css")
  else
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/overrides.css")
  link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
