h2 More in:  #[+link('#', 'Collection one')]
ol.list--2
  li
    .card
      .card__details
        small Article
        h2 #[+link('#', 'Article one')]
  li
    .card
      .card__details
        small Article
        h2 #[+link('#', 'Article two')]
  li
    .card
      .card__details
        small Collection
        h2 #[+link('#', 'Collection one')]
  li
    .card
      .card__details
        small Collection
        h2 #[+link('#', 'Collection two')]

h2 More in:  #[+link('#', 'Collection two')]
ol.list--2
  li
    .card
      .card__details
        small Article
        h2 #[+link('#', 'Article one')]
  li
    .card
      .card__details
        small Collection
        h2 #[+link('#', 'Collection one')]
