h2
  +link('#', 'Collection one')
ol
  li #[+link('#', 'Article one')]
  li #[+link('#', 'Article two')]
  li #[+link('#', 'Article three')]
  li Article header
  li #[+link('#', 'Article five')]
  li #[+link('#', 'Article ')]

h2
  +link('#', 'Collection two')
ol
  li #[+link('#', 'Article one')]
  li Article header
  li #[+link('#', 'Article two')]
  li #[+link('#', 'Article three')]
  li #[+link('#', 'Article four')]
