footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          p Parliament UK
        ul.footer__list
          li #[+link('#', 'Current Parliament.uk website')]
          li #[+link('#', 'Cookie policy')]
