footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          p Parliament UK
          //+image('../images/parliament-uk--darkgrey.png', 'Parliament UK')(srcset='../images/parliament-uk--darkgrey.svg', width='118px', height='22px')
        ul.footer__list
          li #[+link('#', 'Parliamentary Digital Service blog')]
          li #[+link('#', 'Current Parliament.uk website')]
          li #[+link('#', 'Cookie policy')]
