footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          +image('../images/parliament-uk--darkgrey.png', 'Parliament UK')(srcset='../images/parliament-uk--darkgrey.svg', width='118px', height='22px')
        ul.footer__list
          li Parliament.uk #[+link('#', 'digital blog')]
          li Visit the #[+link('#', 'current parliament.uk')] website
          li #[+link('#', 'Cookie Policy')]
