footer
  .c-fs.footer
    .c-fg
      .row
        .footer__logo
        p
          | Parliament.uk
          a(href='#') digital blog
        p
          | Visit the
          a(href='#') current parliament.uk
          |  website
        p
          a(href='#') Cookie Policy
