footer
	.c-fs.footer
		.c-fg
			.row
				.footer__logo
				ul.footer__list
					li Parliament.uk #[a(href='#') digital blog]
					li Visit the #[a(href='#') current parliament.uk] website
					li #[a(href='#') Cookie Policy]
