header
  .container--full-grid
    +link('/', 'UK Parliament')(class='logo')
    //+image('../images/parliament-uk--white.png', 'Parliament UK')(srcset='../images/parliament-uk--white.svg', width='268px', height='50px')
