header
  .c-fs.header
    .c-fg
      .row
        .header__logo
          a(href="/")
            img(src="../images/parliament-uk--white-50.png" alt="parliament.uk" srcset="../images/parliament-uk--white-50.svg")
