nav(aria-label='Paged navigation')
  ul.atoz-letters
    p Select a letter
    li(data-letter='a')
      a(data-atoz-see='true', href='#') A
    li(data-letter='b')
      a(data-atoz-see='true', href='#') B
    li(data-letter='c')
      a(data-atoz-see='true', href='#') C
    li(data-letter='d')
      a(data-atoz-see='true', href='#') D
    li(data-letter='e')
      a(data-atoz-see='true', href='#') E
    li(data-letter='f')
      a(data-atoz-see='true', href='#') F
    li(data-letter='g')
      a(data-atoz-see='true', href='#') G
    li(data-letter='h')
      a(data-atoz-see='true', href='#') H
    li(data-letter='i')
      a(data-atoz-see='true', href='#') I
    li(data-letter='j')
      a(data-atoz-see='true', href='#') J
    li(data-letter='k')
      a(data-atoz-see='true', href='#') K
    li(data-letter='l')
      a(data-atoz-see='true', href='#') L
    li(data-letter='m')
      a(data-atoz-see='true', href='#') M
    li(data-letter='n')
      a(data-atoz-see='true', href='#') N
    li(data-letter='o')
      a(data-atoz-see='true', href='#') O
    li.active(data-letter='p')
      a(data-atoz-see='true', href='#') P
    li(data-letter='q')
      a(data-atoz-see='true', href='#') Q
    li(data-letter='r')
      a(data-atoz-see='true', href='#') R
    li(data-letter='s')
      a(data-atoz-see='true', href='#') S
    li(data-letter='t')
      a(data-atoz-see='true', href='#') T
    li(data-letter='u')
      a(data-atoz-see='true', href='#') U
    li(data-letter='v')
      a(data-atoz-see='true', href='#') V
    li(data-letter='w')
      a(data-atoz-see='true', href='#') W
    li(data-letter='x')
      a(data-atoz-see='true', href='#') X
    li(data-letter='y')
      a(data-atoz-see='true', href='#') Y
    li(data-letter='z')
      a(data-atoz-see='true', href='#') Z
