.microsite-masthead.theme--deep-purple
  .container
    strong
      a(href='https://www.parliament.uk') parliament.uk
    ul
      li
        a(href='https://www.parliament.uk/business/') Parliamentary business
      li
        a(href='http://www.parliament.uk/mps-lords-and-offices/') MPs, Lords &amp; offices
      li
        a(href='http://www.parliament.uk/about/') About Parliament
      li
        a(href='http://www.parliament.uk/get-involved/') Get involved
      li
        a(href='http://www.parliament.uk/visiting/') Visit
      li
        a(href='http://www.parliament.uk/education/') Education
