nav(class='navigation--letter', aria-label='Paged navigation')
  ol
    each val, index in ['all', 'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
      li(data-letter=val, class= (index === 0 ? "active" : undefined))
        if index === 0
          span(data-atoz-see='true')= val
        else
          a(data-atoz-see='true', href='#')= val
