nav(class='navigation--letter', aria-label='Paged navigation')
  ol
    each val, index in ['ALL', 'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
      li(data-letter=val, class= (index === 0 ? "active" : undefined))
        if index === 0
          span(data-atoz-see='true')= val
        else
          a(data-atoz-see='true', href='#')= val
