nav(class='navigation--main', aria-label='navigation')
  .container
    ul
      li
        a(href='house-commons-members-current.html') MPs
      li
        a(href='house-lords-members-current.html') Lords
      li
        a(href='party-current.html') Parties
      li
        a(href='constituencies.html') Constituencies
