.highlight__status
  .container--full-screen
    .container--full-grid
      .row--indent-horizontal
        p This is a #[+link('beta-services.html', 'BETA service')]. Give #[+link('feedback.html', 'feedback')] to improve it.
