.status--banner__beta
  .container
    span.hint beta
    ul.list--inline
      li These pages are being tested. #[+link('feedback.html', 'Give feedback')] to help improve them.
      li Go to #[+link('http://www.parliament.uk', 'current website')]
