// Pass in desired Pixel value to get REM/Pixel fallback
@mixin fontsize($size){
  font-size:   $size + 0px;
  font-size:   ($size / 16) + 0rem;
}

// Pass in desired pixel value for top left, top right, bottom right, bottom left border radius declarations
@mixin border-radius($top-left, $top-right, $bot-right, $bot-left) {
  border-top-left-radius: ($top-left + 0px);
  border-top-right-radius: ($top-right + 0px);
  border-bottom-right-radius: ($bot-right + 0px);
  border-bottom-left-radius: ($bot-left + 0px);
}

// Pass in background colour, border color, typography, hover colour
@mixin highlight-color($background, $border, $color, $hover-color, $line-break){
  background-color: $background;
  border-color: $border;
  color: $color;

  a {
    @include links(
      $color, 			// a:link colour
      inherit,  		// a:link decoration
      $color, 			// a:visited color
      $hover-color	// a:hover color
    );
    &:focus {
      color: $navy;
      text-decoration: none;
    }
  }
  h1 {
    color: $color;

    &:after {
      background-color: $line-break !important;
    }
  }
}

// Screen reader visible only
@mixin screenreader {
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  border: none;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

// Pass in desired line-break sizes
@mixin line-break($height, $width, $color) {
  height: $height;
  width: $width;
  margin-top: ($base-spacing-unit-medium - 2); // -2px to compensate for divider height
  margin-bottom: ($base-spacing-unit-medium - 2); // -2px to compensate for divider height
  background-color: $color;
}

// Pass in link colour, link decoration, visited colour, hover colour, active colour, active decoration
@mixin links($link-color, $link-decoration, $visited-color, $hover-color) {
  &:link {
    color: $link-color;
    text-decoration: $link-decoration;
  }
  &:visited {
    color: $visited-color;
  }
  &:hover {
    color: $hover-color;
  }
}

// Pass in navigation margins top and bottom
@mixin navigation($margin-top, $margin-bottom) {
  @extend .list--inline;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;

}

// Pass in navigation controls float, margin left and margin right
@mixin navigation-control($float, $margin-left, $margin-right) {
  float: $float;
  margin-left: $margin-left;
  margin-right: $margin-right;
}

// Pass in duration, timing function, delay, interation count and name
@mixin css-animation($duration, $timing-func, $delay, $interation, $name) {
  animation-duration: $duration;
  animation-timing-function: $timing-func;
  animation-delay: $delay;
  animation-iteration-count: $interation;
  animation-name: $name;
}

@mixin first-child__last-child() {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

@mixin button($color, $background, $background-hover) {
	@extend .btn;
	@include links(
		$color, 			// a:link colour
		none, 				// a:link decoration
		$white, 			// a:visited color
		$white 				// a:hover color
	);
	color: $color;
	background-color: $background;

	&:hover, &:focus {
		color: $color;
		background-color: $background-hover;
	}
}
