extends layout.pug
block content
  a(id="top")
  header
    div(class="c-fs header")
      div(class="c-fg")
        div(class="row")
          div(class="header__logo")
  div(class="status")
    div(class="c-fg")
        div(class="row")
          p= This is a
            a(href="#")
              strong= BETA
          = website
  a(href="people-members-current.html")= &lt; Previous page
  h1= Beta services on Parliament.uk

