extends layout.pug
block content
  // Back Button
  a(href='people-id.pug') &lt; Previous Page
  // Page Title
  h1 Who to contact with your issue
  p
    | MPs and Lords can only help with issues that are the responsibility of UK Parliament.
    br
    | Often the right person to contact will be a local councillor, the Citizens’ Advice Bureau or an ombudsman.
    br
    | If you live in Scotland, Wales or Northern Ireland you may need to contact your MSP, AM or MLA.
  hr
  // When to contact your MP
  h2 When to contact your MP
  ul
    li Issues with hospitals and the NHS
    li Problems with benefits, pensions and national insurance
    li Immigration issues
    li School closures and grants
    li Data protection
  hr
  // When to contact your local council
  h2 When to contact your local council
  p Your local council can help with issues with local services such as:
  ul
    li Council Tax
    li Housing
    li Bins and recycling
    li Street repairs
  a(href='#') Find your local council
  hr
  // When to contact Citizens Advice
  h2  When to contact Citizens Advice
  p
    | For free, impartial advice on money, legal and customer issues contact
    a(href='#') Citizens Advice
  hr
  // When to contact an Ombudsman
  h2 When to contact an Ombudsman
  p
    | If you have a private dispute with a landlord, employer or company, the
    a(href='#') Ombudsman Association
    |  may be able to help.
  hr
  // When to contact the Government
  h2 When to contact the Government
  p
    | For government services and information visit
    a(href='#') GOV.UK
  hr
  // When to contact your MEP
  h2 When to contact your MEP
  p Your member of European Parliament can help with EU-wide issues such as:
  ul
    li Employment and working conditions
    li Consumer protection (e.g. roaming charges for mobile phones)
    li Environment standards
  hr
  // If you live in Scotland, Wales or Northern Ireland
  h2 If you live in Scotland, Wales or Northern Ireland
  h3 Scotland
  p
    | Your MSP (Member of the Scottish Parliament) can help you with issues such as health services, education, justice and trasport.
  a(href='#') Find your MSP
  h3 Wales
  p
    | AMs (Welsh Assembly Members) can help you with issues such as social welfare, fire and rescue services, flood defences and rural development.
  a(href='#') Find your AM
  h3 Wales
  p
    | MLAs (Members of the Legislative Assembly) can help you with issues such as policing and justice, social care, tourism and trade and investment.
  a(href='#') Find your MLA
