extends layout.pug
block content
  a(href='people-members-current.pug') < Previous page
  h1 Parties and groups
  hr
  a(href='#')
    | Bishops
    span >
  a(href='conservative-current.pug')
    | Conservative Party
    span >
  a(href='#')
    | Labour
    span >
  a(href='#')
    | Liberal Democrats
    span >
