extends layout.pug
block content
  a(href='people-members-current.pug') &lt; Previous page
  h1 Parties and groups
  hr
  a(href='#')
    | Bishops
    span &gt;
  a(href='conservative-current.pug')
    | Conservative Party
    span &gt;
  a(href='#')
    | Labour
    span &gt;
  a(href='#')
    | Liberal Democrats
    span &gt;
