<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parliamentary Digital Service</title>
  <link rel="stylesheet" href="../../_public/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a id="top"></a>
  <!-- Header -->
  <header>
    <div class="c-fs header">
      <div class="c-fg">
        <div class="row">
          <div class="header__logo"></div>
        </div>
      </div>
    </div>
  </header>
  <!-- Status -->
  <div class="c-fs status">
    <div class="c-fg">
      <div class="row">
        <p>This is a <a href="#"><strong>BETA</strong></a> website</p>
      </div>
    </div>
  </div>
  <!-- Back Button -->
  <a href="people-id.html">&lt; Previous Page</a>
  <!-- Page Title -->
  <h1>Who to contact with your issue</h1>
  <p>MPs and Lords can only help with issues that are the responsibility of UK Parliament. <br>
Often the right person to contact will be a local councillor, the Citizens’ Advice Bureau or an ombudsman. <br>
If you live in Scotland, Wales or Northern Ireland you may need to contact your MSP, AM or MLA.</p>
  <hr>
  <!-- When to contact your MP -->
  <h2>When to contact your MP</h2>
  <ul>
    <li>Issues with hospitals and the NHS</li>
    <li>Problems with benefits, pensions and national insurance</li>
    <li>Immigration issues</li>
    <li>School closures and grants</li>
    <li>Data protection</li>
  </ul>
  <hr>
  <!-- When to contact your local council -->
  <h2>When to contact your local council</h2>
  <p>Your local council can help with issues with local services such as:</p>
  <ul>
    <li>Council Tax</li>
    <li>Housing</li>
    <li>Bins and recycling</li>
    <li>Street repairs</li>
  </ul>
  <a href="#">Find your local council</a>
  <hr>
  <!-- When to contact Citizens Advice -->
  <h2> When to contact Citizens Advice </h2>
  <p>For free, impartial advice on money, legal and customer issues contact <a href="#">Citizens Advice</a></p>
  <hr>
  <!-- When to contact an Ombudsman -->
  <h2>When to contact an Ombudsman</h2>
  <p>If you have a private dispute with a landlord, employer or company, the <a href="#">Ombudsman Association</a> may be able to help.</p>
  <hr>
  <!-- When to contact the Government -->
  <h2>When to contact the Government</h2>
  <p>For government services and information visit <a href="#">GOV.UK</a></p>
  <hr>
  <!-- When to contact your MEP -->
  <h2>When to contact your MEP</h2>
  <p>Your member of European Parliament can help with EU-wide issues such as:</p>
  <ul>
    <li>Employment and working conditions</li>
    <li>Consumer protection (e.g. roaming charges for mobile phones)</li>
    <li>Environment standards</li>
  </ul>
  <hr>
  <!-- If you live in Scotland, Wales or Northern Ireland -->
  <h2>If you live in Scotland, Wales or Northern Ireland</h2>
  <h3>Scotland</h3>
  <p>Your MSP (Member of the Scottish Parliament) can help you with issues such as health services, education, justice and trasport.</p>
  <a href="#">Find your MSP</a>
  <h3>Wales</h3>
  <p>AMs (Welsh Assembly Members) can help you with issues such as social welfare, fire and rescue services, flood defences and rural development.</p>
  <a href="#">Find your AM</a>
  <h3>Wales</h3>
  <p>MLAs (Members of the Legislative Assembly) can help you with issues such as policing and justice, social care, tourism and trade and investment.</p>
  <a href="#">Find your MLA</a>
  <!-- Footer -->
  <footer>
    <div class="c-fs footer">
      <div class="c-fg">
        <div class="row">
          <div class="footer__logo"></div>
          <p>Parliament.uk <a href="#">digital blog</a></p>
          <p>Visit the <a href="#">current parliament.uk</a> website</p>
          <p><a href="#">Cookie Policy</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../_public/javascripts/main.js"></script>
</body>
</html>
