extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-top
    a(href='people-members-current.html') &lt; Previous page
  // Page Title
  h1.spacer__vertical-tiny.bordered-commons Current MPs in the House of Commons
  // Letter Navigation
  include ../../components/letter-navigation.pug
  // Result List
  ol.result-list
    li.result-item
      ul
        li
          a(href='people-id.html') Abbott, Diane
        li MP for Hackney North and Stoke Newington
        li Labour
    li.result-item
      ul
        li
          a(href='#') Abrahams, Debbie
        li MP for Oldham East and Saddleworth
        li Labour
    li.result-item
      ul
        li
          a(href='#') Adams, Nigel
        li MP for Selby &amp; Ainsty
        li Conservative
    li.result-item
      ul
        li
          a(href='#') Ahmed-Sheikh, Tasmina
        li MP for Ochil and South Perthshire
        li Scottish National Party
    li.result-item
      ul
        li
          a(href='#') Aldous, Peter
        li MP for Waveney
        li Conservative
  // Back to Top Button
  .spacer__vertical-standard
    a(href='#top') Back to the top
