extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-top-small
    a(href='people-members-current.html') &lt; Previous page
  // Page Title
  h1.spacer__vertical-tiny.bordered-lords Lords
  // Letter Navigation
  include ../../components/letter-navigation.pug
  // Result List
  ol.result-list
    each object in [{name: 'Lord Aberdare', party: 'Crossbench'},{name: 'Baroness Adams of Craigielea', party: 'Labour'},{name: 'Lord Addington', party: 'Liberal Democrats'},{name: 'Lord Adebowale', party: 'Crossbench'},{name: 'Lord Adonis', party: 'Non-affiliated'}]
      li.result-list__item
        ul
          li
            a(href="#")= object.name
          li= object.party
  // Back to Top Button
  .spacer__vertical-medium
    a(href='#top') Back to the top
