extends ../../layouts/layout.pug
block content
  // Back Button
  a(href='people-members-current.pug') &lt; Previous page
  // Page Title
  h1 Lords
  include ../../components/letter-navigation.pug
  // Result List
  ol.result-list
    li.result-item
      ul.result-item-details
        li.result-item-detail-name Lord Aberdare
        li Crossbench
    li.result-item
      ul.result-item-details
        li.result-item-detail-name Baroness Adams of Craigielea
        li Labour
    li.result-item
      ul.result-item-details
        li.result-item-detail-name Lord Addington
        li Liberal Democrats
    li.result-item
      ul.result-item-details
        li.result-item-detail-name Lord Adebowale
        li Crossbench
    li.result-item
      ul.result-item-details
        li.result-item-detail-name Lord Adonis
        li Non-affiliated
  // Back to Top Button
  a(href='#top') Back to the top

