extends ../../layouts/layout.pug
block content
  // Back Button
  a(href='people-members-current.pug') &lt; Previous page
  // Page Title
  h1 Current MPs in the House of Commons
  include ../../components/letter-navigation.pug
  // Result List
  ol.result-list
    li.result-item
      ul.result-item-details
        li
          a.result-item-detail-name(href='people-id.html') Abbott, Diane
        li MP for Hackney North and Stoke Newington
        li Labour
    li.result-item
      ul.result-item-details
        li
          a.result-item-detail-name(href='#') Abrahams, Debbie
        li MP for Oldham East and Saddleworth
        li Labour
    li.result-item
      ul.result-item-details
        li
          a.result-item-detail-name(href='#') Adams, Nigel
        li MP for Selby &amp; Ainsty
        li Conservative
    li.result-item
      ul.result-item-details
        li
          a.result-item-detail-name(href='#') Ahmed-Sheikh, Tasmina
        li MP for Ochil and South Perthshire
        li Scottish National Party
    li.result-item
      ul.result-item-details
        li
          a.result-item-detail-name(href='#') Aldous, Peter
        li MP for Waveney
        li Conservative
  // Back to Top Button
  a(href='#top') Back to the top

