extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-top-small
    a(href='people-members-current.html') &lt; Previous page
  // Page Title
  h1.spacer__vertical-tiny.bordered-commons Current MPs in the House of Commons
  // Letter Navigation
  include ../../components/letter-navigation.pug
  // Result List
  ol.result-list
    each object in [{name: 'Abbott, Diane', constituency: 'MP for Hackney North and Stoke Newington', party: 'Labour'},{name: 'Abrahams, Debbie', constituency: 'MP for Oldham East and Saddleworth', party: 'Labour'},{name: 'Adams, Nigel', constituency: 'MP for Selby & Ainsty', party: 'Conservative'},{name: 'Ahmed-Sheikh, Tasmina', constituency: 'MP for Ochil and South Perthshire', party: 'Scottish National Party'},{name: 'Aldous, Peter', constituency: 'MP for Waveney', party: 'Conservative'}]
      li.result-list__item
        ul
          li
            a(href= (object.name === "Abbott, Diane" ? "people-id.html" : "#"))= object.name
          li= object.constituency
          li= object.party
  // Back to Top Button
  .spacer__vertical-medium
    a(href='#top') Back to the top
