extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-small
    a(href='people-members-current.html') &lt; Previous page
  // Page Title
  h1 Lords
  // Letter Navigation
  include ../../components/letter-navigation.pug
  // Result List
  ol.result-list
    li.result-item
      ul
        li
          a(href='#') Lord Aberdare
        li Crossbench
    li.result-item
      ul
        li
          a(href='#') Baroness Adams of Craigielea
        li Labour
    li.result-item
      ul
        li
          a(href='#') Lord Addington
        li Liberal Democrats
    li.result-item
      ul
        li
          a(href='#') Lord Adebowale
        li Crossbench
    li.result-item
      ul
        li
          a(href='#') Lord Adonis
        li Non-affiliated
  // Back to Top Button
  .spacer__vertical-standard
    a(href='#top') Back to the top
