extends ../../layouts/layout.pug
block content
  //- Back Button
  .block
    p &lt; #[+link('people-members-current.html', 'Previous page')]
  //- Page Title
  h1 Parties and groups
  //- Option Tags
  ul.link__button
    li #[+link('conservative-current.html', 'Conservative Party')]#[span]
    li #[+link('#', 'Labour Party')]#[span]
    li #[+link('#', 'Liberal Democrats')]#[span]
