extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-top-small
    a(href='people-members-current.html') &lt; Previous page
  // Page Title
  h1.spacer__vertical-small Parties and groups
  // Option Tags
  ul.button-link
    li #[a(href='conservative-current.html') Conservative Party #[span]]
    li #[a(href='#') Labour Party #[span]]
    li #[a(href='#') Liberal Democrats #[span]]
