extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-top-small
    a(href='people-members-current.html') &lt; Previous page
  // Page Title
  h1.spacer__vertical-small Parties and groups
  // Option Tags
  a.button-link(href='conservative-current.html') Conservative Party #[span]
  a.button-link(href='#') Labour Party #[span]
  a.button-link(href='#') Liberal Democrats #[span]
