extends ../../layouts/layout.pug
block content
  .c-fg
    .row
      // Title
      h1 Current MPs and Lords
      // Option Tags
      a.button-link(href='house-commons-members-current.pug')
        | Current MPs
        span &gt;
      a.button-link(href='house-lords-members-current.pug')
        | Current Members of the House of Lords
        span &gt;
      a.button-link(href='party-current.pug')
        | Current parties and groups
        span &gt;
