extends ../../layouts/layout.pug
block content
  // Back Button
  .spacer__vertical-top-small
    a(href='house-commons-members-current.html') &lt; MPs and Lords
  // Profile Card
  .profile-card.spacer__vertical-small
    h1 Diane Abbott
    p MP for #[a(href='#') Hackney North and Stoke Newington]
    p #[a(href='#') Labour]
  // Representative Information
  .highlight-box
    p Your MP is your representative in Parliament and can help with issues that are the responsiblity of UK Parliament.
    a(href='contact.html') Find out who to contact with your issue
  // Contact Details
  .contact-list.spacer__vertical-top-small
    h2.bordered Contact Details
    dl
      dt Email:
      dd #[a(href='mailto:ayo.sanusi@parliament.uk') ayo.sanusi@parliament.uk]
      dt Phone:
      dd #[a(href='tel:02072194426') 020 7219 4426]
      dt Address:
      dd House of Commons, London, SW1A 0AA
  // Electoral History
  h2.bordered.spacer__vertical-top-small Election History
  ol.result-list
    each object in [{constituency: 'Hackney North and Stoke Newington', sitting_duration: '2015 - Current', party: "Labour"},{constituency: 'Hackney North and Stoke Newington', sitting_duration: '1987 - 2015', party: 'Labour'}]
      li.result-list__item
        ul
          li MP for #[a(href='#') #{object.constituency}]
          li=object.sitting_duration
          li #[a(href='#') #{object.party}]
  // Back to Top Button
  .spacer__vertical-medium
    a(href='#top') Back to the top
