<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parliamentary Digital Service</title>
  <link rel="stylesheet" href="../../_public/stylesheets/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Header -->
  <header>
    <div class="c-fs header">
      <div class="c-fg">
        <div class="row">
          <div class="header__logo"></div>
        </div>
      </div>
    </div>
  </header>
  <!-- Status -->
  <div class="c-fs status">
    <div class="c-fg">
      <div class="row">
        <p>This is a <a href="#"><strong>BETA</strong></a> website</p>
      </div>
    </div>
  </div>
  <div class="c-fg">
    <div class="row">
      <!-- Back Button -->
      <a href="house-commons-members-current.html">&lt; MPs and Lords</a>
      <!-- Profile Card -->
      <div class="profile-card">
        <h1>Diane Abbott</h1>
        <p><a href="#">Labour</a> MP for <a href="#">Hackney North and Stoke Newington</a></p>
      </div>
      <!-- Representative Information -->
      <div class="highlight-box">
          <p>Your MP is your representative in Parliament and can help with issues that are the responsiblity of UK Parliament.</p>
          <p><a href="#">Find out who to contact with your issue</a></p>
      </div>
      <!-- Contact Details -->
      <div class="contact-list">
        <h2>Contact Details</h2>
        <dl>
          <dt>Email:</dt>
          <dd><a href="mailto:ayo.sanusi@parliament.uk">ayo.sanusi@parliament.uk</a><dd>
          <dt>Phone:</dt>
          <dd><a href="tel:02072194426">020 7219 4426</a><dd>
          <dt>Address:</dt>
          <dd>House of Commons, London, SW1A 0AA<dd>
        </dl>
      </div>
      <!-- Electoral History -->
      <div class="electoral-history">
        <h2>Election History</h2>
        <ol class="electoral-history-list">
          <li class="electoral-history-list-item">
            <ul class="electory-history-list-item-details">
              <li>MP for <a href="#">Hackney North and Stoke Newington</a></li>
              <li>2015 - Current</li>
              <li><a href="#">Labour</a></li>
            </ul>
          </li>
          <li class="electoral-history-list-item">
            <ul class="electory-history-list-item-details">
              <li>MP for <a href="#">Hackney North and Stoke Newington</a></li>
              <li>1987 - 2015</li>
              <li><a href="#">Labour</a></li>
            </ul>
          </li>
        </ol>
      </div>
      <!-- Feedback Banner -->
      <div class="row">
        <div class="phase-banner">
          <p>Provide <a href="#">feedback</a> to help improve this website</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="c-fs footer">
      <div class="c-fg">
        <div class="row">
          <div class="footer__logo"></div>
          <p>Parliament.uk <a href="#">digital blog</a></p>
          <p>Visit the <a href="#">current parliament.uk</a> website</p>
          <p><a href="#">Cookie Policy</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="../../_public/javascripts/main.js"></script>
</body>
</html>
