extends ../../layouts/layout.pug
block content
  //- Page Title
  h1 Current MPs and Lords
  //- Option Tags
  ul.link__button
    li #[+link('house-commons-members-current.html', 'MPs')]#[span]
    li #[+link('house-lords-members-current.html', 'Members of the House of Lords')]#[span]
    li #[+link('party-current.html', 'Parties and groups')]#[span]
