extends ../../layouts/layout.pug
block content
  // Title
  h1.spacer__vertical-small Current MPs and Lords
  // Option Tags
  ul.button-link
    li #[a(href='house-commons-members-current.html') MPs #[span]]
    li #[a(href='house-lords-members-current.html') Members of the House of Lords #[span]]
    li #[a(href='party-current.html') Parties and groups #[span]]
