doctype html
html(lang="en")
  head
    title Parliamentary Digital Service
    link(rel="stylesheet", href="../_public/stylesheets/main.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    a(id="top")
    include ../components/header.pug
    include ../components/status.pug
    block content
    include ../components/footer.pug
    script(src="../_public/javascripts/main.js")
